[2017-11-25 05:18] rodolfoverdin opened #3835 "cla"

[2017-11-26 06:34] thunderrabbit opened #3836 "Cannot screenshot if dialog box is visible"
On OS X Firefox 57.0, a modal dialog box blocks screenshot ability.

Arguably, it's a modal, therefore nothing can be done outside the modal.
Equally arguable, the modal was created by Firefox, which could ignore it.

![cannot_screenshot_if_modal_alert](https://user-images.githubusercontent.com/21597/33237736-3e182e5a-d2bf-11e7-909c-6f399b5ea44d.png)

[2017-11-26 14:48] michs opened #3837 "Screenshot from a long web page"
**Steps to reproduce:**

Save a webpage with a long article as screenshot, choose option "whole page". (Used Firefox on Mac OS Yosemite)

**Actual results:**

The screenshot is saved, but the lower part of the pages is clipped. The maximal screenshot length seems to be limited to 10 000 pixels. The screenshot can be saved completely when the zoom of the page is changed in that way that the page ne

[2017-11-26 19:35] stratosgear commented on #1849
I would also definitely add to the list the ability to blur/obfuscate part of the screenshot.  This is the annotation task that I most often perform when I annotate a screenshot.

Hopefully it will be helpful to many other people, too...

[2017-11-27 14:43] chenba commented on #3603
@raquo If you remember or can still reproduce it, could you please give me info on the error you encountered when you tried to delete the shot?

[2017-11-27 16:41] wresuolc commented on #3837
The 10k pixel limit is by design so we can limit the size of the files.  As our product matures we hope to change that limit, but for now it's in place.  I'm going to close this as there are a few other bugs asking for the same thing.

[2017-11-27 16:41] #3837 closed

[2017-11-27 16:42] wresuolc commented on #3836
Argument 1 is the one we're going with. :)  We wouldn't be able to screenshot this anyway, as we look at page content and this is over it.

[2017-11-27 16:42] #3836 closed

[2017-11-27 16:42] #3835 closed

[2017-11-27 16:43] wresuolc commented on #3833
Let's encourage an upstream fix :)

[2017-11-27 16:43] #3833 closed

[2017-11-27 16:58] ianb commented on #3307
I reviewed Sentry a couple weeks ago

[2017-11-27 16:58] #3307 closed

[2017-11-27 17:16] chenba commented on #3394
This is no longer an issue.  The latest data is showing page timings for `/` and `/shots`.

[2017-11-27 17:41] raquo commented on #3603
Actually I was able to reproduce it just now: The error simply says "Error deleting shot" in an alert(). In the console, the request to `/api/delete-shot` throws a 401 error with the content "Not logged in". I'm not sure what it wants me to be logged into, I don't use any Firefox services requiring a login.

[delete-shot request har extract.txt](https://github.com/mozilla-services/screenshots/file

[2017-11-27 18:02] wresuolc opened #3839 "Data review for user timings"
User timings documentation at https://github.com/mozilla-services/screenshots/blob/master/docs/METRICS.md#add-on-performance-measurements

1) What questions will you answer with this data?
We're trying to make an application performance dashboard to ensure we're conforming to the [RAIL guidelines](https://developers.google.com/web/fundamentals/performance/rail).  Anything else we can speed up from

[2017-11-27 18:22] #3820 closed

[2017-11-27 18:25] ianb commented on #3405
This needs to be verified in dev: https://screenshots.dev.mozaws.net/homepage/install-test-local.html

[2017-11-27 18:26] #3678 closed

[2017-11-27 18:26] #3680 closed

[2017-11-27 18:32] ianb opened #3840 "Remove uses of `attr="${}"` from ui.js"
We've grown a bunch of uses of:

[code]

We have some quoting in place, but really we just shouldn't do this at all. We have a `localizeText()` function in ui.js, and should extend that to handle attributes. Maybe `<button data-l10n-title="saveScreenshotSelectedArea">` (if it's just titles we're dealing with).

Otherwise if we don't go that route, we should do quoting inline IMHO. We should be abl

[2017-11-27 18:41] ianb opened #3841 "Update moment library"
nsp has identified [a regex-based DoS attack on moment](https://nodesecurity.io/advisories/532). No fix is currently available (see https://github.com/moment/moment/issues/4163).

This should include reverting bdb0045fdf597356784d8008e4d7330abf785ed1

[2017-11-27 18:51] #3826 closed

[2017-11-27 18:58] chenba opened #3843 "Remove L10n Messages from JSON Responses"
When the l10n messages were removed from page responses for #3228, they were left in the the JSON responses.  We should remove them at some point.  This impacts the My Shots page's performance.

[2017-11-27 20:18] 6a68 opened #3844 "Remove Page Shot experiment migration code!"
The Page Shot experiment is over, the service has been shut down.

Can we clear out the migration-related code yet?

_Inspired by the first bit of feedback in https://bugzilla.mozilla.org/show_bug.cgi?id=1419148#c13_

[2017-11-27 20:25] #3728 closed

[2017-11-27 20:31] #3467 closed

[2017-11-27 20:31] #3779 closed

[2017-11-27 22:43] #3282 closed

[2017-11-27 22:44] chenba commented on #3603
@raquo Thanks for the information.  By looking at the attached request info I think the issue with the delete is that no cookies were sent.  You can try disabling whatever is blocking the cookies from being sent.  (The relevant code is at https://github.com/mozilla-services/screenshots/blob/ee62951e9d5ee516fc4661b056899070d90bbb25/server/src/server.js#L204)

[2017-11-27 23:29] thunderrabbit commented on #3836
Argument 1: fair enough.

However, I wanted to include the popup in the screenshot!  ;-)

[2017-11-28 00:16] rjweiss commented on #3839
r+

1. Documentation is provided
2. This is instrumented with GA, and respects both data preferences and the Do Not Track header.
3. Data is temporary for now.
4. Type 2.
5. Default on, all release channels, all countries, all locales, but only for Screenshots users.
6. No new identifiers.
7. Yes.
8. Recommend a renewal in 6 months and consider conversion to permanent metrics status depending on t

[2017-11-28 00:26] raquo commented on #3603
@chenba That's the server code of `screenshots.firefox.com`, right? I have third party cookies disabled in Firefox settings. Whitelisting `https://screenshots.firefox.com` for cookies fixed that. At least I was able to delete my screenshots, thanks.

This whole thing really breaks my mental model of browser features being distinct from websites...

[2017-11-28 04:54] chenba commented on #3832
I actually already did this for #3282 but forgot about it.  I'll close this and move it out of the sprint since no work was done.

[2017-11-28 04:54] #3832 closed

[2017-11-28 09:58] SoftVision-CosminMuntean opened #3848 "[Annotations] The image is no longer displayed in "Edit" mode"
[Affected versions]:
- Nightly 59.0a1
- Screenshots 26.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 26.0.0 dev version installed [from here](https://screenshots.dev.mozaws.net/homepage/install-test-loca

[2017-11-28 10:04] SoftVision-CosminMuntean commented on #3405
The "Save" button seems to work, but the image is no longer displayed in "Edit" mode and the it's wrongly saved. I have logged this issue in #3848.
I will verify again this issue after #3848 will be fixed, to make sure that the "Save" functionality works as expected.

[2017-11-28 13:54] SoftVision-CosminMuntean commented on #3779
I have retested this issue with latest Screenshots (26.0.0) dev version and it's no longer reproducible. Marking as fixed. Marking as verified.

[2017-11-28 14:55] chenba commented on #3710
The padding fix from #3514 is no longer applicable now that `<img>` is used for the icon instead of a background image.

[2017-11-28 15:09] SoftVision-CosminMuntean opened #3850 ""Error: Data is not valid png/jpg image" error is displayed if the "Copy" button is used on selections > 600x600px"
[Notes]:
- This issue is not reproducible for small selections (under 600x600 px).
- This issue is not reproducible on the provided [Nightly try build](https://treeherder.mozilla.org/#/jobs?repo=try&revision=5696688afd8f) with Screenshots 25.0.0.

[Affected versions]:
- Nightly 59.0a1
- Screenshots 25.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Open

[2017-11-28 15:30] chenba commented on #3850
It's not the image dimensions but rather the amount of data.  A shot > 600 x 600px from https://news.ycombinator.com wouldn't cause this error since it's mostly text.

[2017-11-28 15:38] chenba commented on #3850
It's also not consistent across OSes.  I was able to copy a full page of IMDB to the clipboard in Linux but not Windows.

[2017-11-28 15:54] Softvision-CristinaBadescu opened #3852 ""Whoa! Firefox Screenshots went haywire..." error is displayed if the "Copy", "Download" or "Save" button is clicked for a screenshot selection that exceeds 32800 pixels"
[Affected versions]:
- Nightly 59.0a1
- Screenshots 25.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites and navigate to a very long page (eg. https://imgur.com)
2. Perform a very long shot, that exceeds 32.800 pixels.
3. Click on the "Copy", "Download" or "Save" button.

[Expected result]:
- A friendly-use

[2017-11-28 15:55] SoftVision-CosminMuntean commented on #3850
@chenba I was able to reproduce this issue on Arch Linux x64 and also on Ubuntu 14.04 x64.

[2017-11-28 16:39] johngruen commented on #3797
Elvin will comment on this one

[2017-11-28 16:39] johngruen commented on #3839
thanks!

[2017-11-28 16:39] #3839 closed

[2017-11-28 17:46] ianb opened #3853 "Run svgo on svgs"
We run `svgo` on build, but it doesn't apply to things in the add-on. We've added some icons, so we should re-run it.

[2017-11-28 17:46] #3679 closed

[2017-11-28 17:46] #3710 closed

[2017-11-28 19:28] 6a68 opened #3854 "User Timings not visible in GA"
Today's Nightly includes Screenshots 25.0.0, which measures the time between steps in the shot creation flow (#3673). Looking in the browser toolbox's network tab, I see pings flowing to the /timing endpoint:

<img width="1143" alt="screen shot 2017-11-28 at 11 16 36 am" src="https://user-images.githubusercontent.com/96396/33339334-a0daa760-d42d-11e7-8ce3-932c28ae01c0.png">

However, I don't see a

[2017-11-28 19:51] chenba opened #3855 "Copied Images Should Not Have Width or Height Limits"
Copying should behave like downloading: no limits.

[2017-11-28 22:02] DDMOREH opened #3856 "Screenshots Is Redirecting"
Screenshots is redirecting to My Shots instead of loading capture region .

[2017-11-28 22:51] #3757 closed

[2017-11-28 22:59] chenba commented on #3850
The limit is 500kB, which is when clipboard data moves from memory to temp files.  This bug was recently introduced into Firefox.  The last working version of Nightly is 2017-11-27-10-04-33; 2017-11-27-22-04-46 is the first build where this bug appeared.

(The reason it was working for me in Linux during original testing was that I had a slightly outdated version of Nightly.)

[2017-11-28 23:04] ianb commented on #3850
We should create a bug in Bugzilla. I'm not seeing any bug with just copying a large image in a new Nightly, so I'm guessing this is specific to an extension? Ideally we could create an extension that demonstrates this. Maybe it's sufficient just to allocate a big buffer of nulls?

[2017-11-28 23:05] 6a68 commented on #3852
The max size of a canvas is 32767 pixels on a side, so we could either show a warning (easy) or stitch multiple canvases together (hard, but could fix other bugs, like parallax background issues).

[2017-11-28 23:07] 6a68 commented on #3850
You can use mozregression to get to the exact patch that introduced the breakage.

[2017-11-28 23:08] ianb opened #3857 "Pagination appears on empty My Shots page"
Example:

<img width="1081" alt="image" src="https://user-images.githubusercontent.com/44390/33349201-c8c9acc2-d45e-11e7-9b88-f302bff1ef17.png">

 (Note the `< / 1>` at the bottom)

[2017-11-28 23:26] 6a68 commented on #3620
@youwenliang The share icon link no longer seems to be working. Could you check the permissions and URL are correct?

[2017-11-28 23:28] 6a68 commented on #3694
@johngruen which of the variations would you like to test?

[2017-11-29 00:00] Caspy7 opened #3858 "Add icon to context menu item"
It was [pointed out](https://twitter.com/mohnessem/status/935552509942353926) that we should have the screenshots icon next to the context menu item when right clicking the page.
![image](https://user-images.githubusercontent.com/3854676/33350723-ea7849d0-d465-11e7-8cfa-d8064b5e4644.png)

[2017-11-29 03:10] youwenliang commented on #3620
Here a new link:
https://www.dropbox.com/s/y2naygmg76kiwsx/share-google.svg?dl=0

[2017-11-29 05:07] chenba commented on #3850
501kB of nulls wouldn't work because not only it's extension specific, but also specific to images.  There were some changes to imgTools, which necessitated this change: https://hg.mozilla.org/mozilla-central/diff/e60f002f07d0/toolkit/components/extensions/ext-clipboard.js.  That's the most relevant change I can find at least; I haven't found exactly where the bug is or how the 500kB limit comes i

[2017-11-29 06:38] chenba commented on #3850
Ok, I suspect that the line `let str = String.fromCharCode.apply(String, new Uint8Array(imageData));` is the problem.  That `apply` call is hitting the argument length limit.

[2017-11-29 09:17] SoftVision-PaulOiegas commented on #3856
Hi @DDMOREH and thanks for your report. Screenshots does this when the page you are trying to capture is not a real web page. Like the "New Tab" page, or "about::addons". But this does not mean that what you are reporting couldn't be an issue.
Can you please tall us what page you were trying to capture? If the page is legit, then we'll need to investigate on this further.

[2017-11-29 12:42] dCosminn opened #3859 "Copy to clipboard doesn't work"
The copy to clipboard option doesn't work here, Windows 10 FCU and the latest Nightly.
I have webrender enabled, like the set “gfx.webrender.enabled” to true, set “gfx.webrender.blob-images”  to true,  “image.mem.shared” to true.
Tried with Firefox in Safe Mode(all addons disabled) and still doesn't work.

If i click to save the shot it will automatically copy to clipboard using this format: https

[2017-11-29 13:11] julienw commented on #3603
Somebody just reported to me the same thing as @raquo. I myself have difficulties pressing the right button even after some months. This definitely needs to be clearer.

[2017-11-29 13:19] DDMOREH commented on #3856
It redirects to My Shots on any and every page . email's , websites , this page , any page I am on .
I left click screenshot and immediately get sent to My Shots .
I have been having issues with Firefox57 from day one .
Reinstalled Firefox57 for the 15th time yesterday , screenshot worked one time .
After first screenshot now screenshot only redirects straight to My Shots

[2017-11-29 13:50] fgutmann commented on #2582
For me it would be strange to have the "copy" text next to the button.
Currently there are two types of buttons there:

1) Icon Only - Gray
2) Icon+Text - Blue

Introducing the copy button with text, would create a third type of button.

IMO if adding the text to copy it would only be consequent to also add it to "Download" and possibly also to "Cancel".

[2017-11-29 13:51] SoftVision-PaulOiegas commented on #3856
This clearly does not happens on a new profile and we haven't seen any other reports saying this for existing profiles as far as I know. So it could be either something changed with your profile preferences or there is a conflict with your installed add-ons.
Can you please navigate to "about:support" page and use the "Copy text to clipboard" button to copy the page content and paste it here in a n

[2017-11-29 14:08] flodolo commented on #3603
Passing by note: asking localizers to change existing translations to make it clearer is not the correct approach. It needs to be fixed upstream, e.g. "Upload to server" instead of "Save").

[2017-11-29 15:11] Softvision-CristinaBadescu opened #3861 "There is a noticeable delay when "Copy", "Download" or "Save" buttons are used for a Full Page screenshot"
[Affected versions]:
- Nightly 59.0a1
- Screenshots 25.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Open Firefox browser and navigate to "https://imgur.com/" website.
2. Scroll the page in order to load more content.
3. Click the "Take a Screenshot" button from "Page Actions" menu.
4. Click the "Save Full page" button from the right part of the page.

[2017-11-29 15:32] chenba commented on #3850
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1421655.

[2017-11-29 16:47] wresuolc commented on #3861
Flagging needs:ux because we are looking for some kind of transition/spinner thing.  Is there already a bug that shows that?

[2017-11-29 16:47] wresuolc commented on #3861
@youwenliang

[2017-11-29 16:49] wresuolc commented on #3859
If you reset the preferences (or use a fresh profile with defaults) does this still happen?

[2017-11-29 16:56] wresuolc commented on #3854
@chenba knows how to do this

[2017-11-29 17:01] 6a68 commented on #3856
@DDMOREH Hi, just to confirm, there are two menus with Screenshots-related items. Which one are you clicking?

The 'page action' menu looks like three dots, is visible on regular web pages, but not on pages built into Firefox, like the new tab page, and the menu item says "Take a Screenshot" - this is probably what you're looking for:

<img width="402" alt="screen shot 2017-11-29 at 8 54 49 am" sr

[2017-11-29 17:05] chenba commented on #3854
Looks like data started arriving on Nov. 27th.  (See image below.)

Navigate to "Behavior" > "User Timings", and you should see "addon" as the only available timing category (second column of the table).  Clicking on "addon" will take you to the timing variables data.  This is the good stuff.

![image](https://user-images.githubusercontent.com/198055/33388118-a6f3a666-d4f4-11e7-96ca-62b508180deb.p

[2017-11-29 17:06] #3854 closed

[2017-11-29 17:36] dCosminn commented on #3859
Made a new profile and the issue still happens.

[2017-11-29 17:51] chenba commented on #3859
I cannot reproduce this with the same versions of Windows and Firefox.  I think that "it clears the clipboard" means something is being copied into the clipboard (thus replacing the previous content).

@dCosminn What happens if you try to paste into Paint.NET?  Do you get an error?  An empty/transparent image?

[2017-11-29 18:00] dCosminn commented on #3859
@chenba Yes, you are right. It doesn't clear the clipboard it just stores the image.
When i paste it into Paint i can see the screenshot i took..

[2017-11-29 18:10] chenba commented on #3859
@dCosminn Excellent.  I'll close this issue.

[2017-11-29 18:10] #3859 closed

[2017-11-29 18:16] ianb commented on #3719
John applied the design to #3632

[2017-11-29 18:16] #3719 closed

[2017-11-29 19:59] chenba commented on #3857
@ianb How do get the page to _stay_ on that view?  Or were you just that quick with the screen capture keyboard combo?

I see that very briefly but then I see:

![image](https://user-images.githubusercontent.com/198055/33396149-4baef954-d50d-11e7-877f-5b96f1f5658e.png)

[2017-11-29 20:00] ianb commented on #3857
I was quick, yes; it will automatically navigate away after a couple seconds.

[2017-11-29 20:46] #3857 closed

[2017-11-29 21:15] chenba opened #3863 "[Annotations] One Too Many Vertical Scrollbars in Edit View"
The two vertical scrollbars feel awkward.  In order to reach the bottom of the shot, the user would need to scroll both to the bottom.  We can do without the browser's vertical scrollbar in this case.

![image](https://user-images.githubusercontent.com/198055/33399309-c89cdea4-d517-11e7-8a4c-6200050c4ccb.png)

[2017-11-29 22:09] DDMOREH commented on #3856
SOLVED . MY MISTAKE .
Directions on how to use are not that clear .
THANK YOU FOR THE ASSISTANCE !

[2017-11-29 22:09] #3856 closed

[2017-11-29 23:43] chenba commented on #3677
I cannot reproduce this locally.  Furthermore, because of #3848 we cannot verify that this is still an issue until that bug is fixed.

[2017-11-30 00:13] chenba commented on #3590
Where should CONTENT_CDN be used?

[2017-11-30 00:36] 6a68 commented on #3590
We have the separate firefoxusercontent.com domain for stuff users upload, so that'd be the origin server for the CONTENT_CDN. If you look at commit 52e255a, you can see how the existing CDN code fits together. Does this help?

[2017-11-30 00:47] johngruen opened #3864 "Audit site colors and replace with Photon library colors"
Hello: https://www.npmjs.com/package/photon-colors

We should go through our CSS and make sure we're using photon-official colors across the repo.

[2017-11-30 10:28] youwenliang commented on #3861
The only spinner I know is the loading bar when users save a shot to the server. I'll talk with Fang to come up with another spinner for this situation.

[2017-11-30 10:55] iceuponfire commented on #2582
@techtonik it has landed on nightly ! I agree adding ctrl+c would be awesome.

[2017-11-30 14:34] chenba commented on #2582
@iceuponfire ctrl+c is included.

[2017-11-30 14:49] iceuponfire commented on #2582
I'm running nightly 59.0a1 64bit win10 (this hour patch).
I'm selecting a zone and then press ctrl+c and there's nothing to paste. Maybe this feature hasn't landed yet on nigthly?

[2017-11-30 14:53] chenba commented on #2582
It's working for me.  Did you get a notification when you ctrl+c?

[2017-11-30 15:40] vizapata opened #3865 "Copy image to clipboard, bitmap image instead of the URL"
Should this app contain an option to copy the image to clipboard aditional to the download and save options?

So we can paste it in a email or a blog entry editor just with *CTRL-V*. With this option there is no need to download or save the screenshot in the cloud.

![clipboard](https://user-images.githubusercontent.com/6758467/33438934-2e26a74e-d5ba-11e7-9550-c7c2033307c1.png)

[2017-11-30 16:27] chenba commented on #3590
The images are served from screenshots.firefoxusercontent.com on prod.  We would achieve the same effect by setting CDN=https://screenshotscdn.firefox.com and CONTENT_ORIGIN=screenshotscdn.firefoxusercontent.com correct?  (I'm not opposed to the change; just trying to understand this better.)

As for the webpagetest.org test results, we won't get that check mark for using a CDN because the moz cdn

[2017-11-30 16:28] iceuponfire commented on #2582
I confirm you that i do not receive notification when i press ctrl+c (nothing happen, the grey zone stay on screen), however i do get one when i click the new copy image button.

[2017-11-30 16:30] 6a68 commented on #3590
I think the origin server would be screenshots.firefoxusercontent.com, and the cdn would be screenshotscdn.ffuc.com. Ditto for SITE_CDN.

[2017-11-30 16:45] wresuolc commented on #3865
Thanks for the comment -- we've just landed this feature in Firefox Nightly.

[2017-11-30 16:45] #3865 closed

[2017-11-30 17:01] chenba commented on #2582
@iceuponfire Do you see any errors in the console tab of the developer tools (F12 to open it) when try it?

[2017-11-30 17:16] relud commented on #3590
so these are the settings now:
[code]

but I think @chenba is right, if we just set `CONTENT_ORIGIN` to `CONTENT_CDN` then we would reference all content via the content cdn, which is what we want, as long as we aren't storing the value of `CONTENT_ORIGIN` in the database location for shots.

[2017-11-30 20:06] chenba commented on #3590
Sorry to be the bearer of bad news, @relud, but the image URLs are written into the db.  That has at least two effects.

Since the shots expire by default, the number of images not using the content CDN will drop over time.

The CSP header is dynamically built, so once we do a post-patch server release with CONTENT_CDN, we cannot roll back.  If we roll back or change the CONTENT_CDN, the images sa

[2017-11-30 20:08] relud commented on #3590
I know we do, but we should stop. I have nginx rewriting legacy content origins to the current one, to avoid bugs like you describe

[2017-11-30 20:09] chenba commented on #3394
@wresuolc This can be closed?

[2017-11-30 20:10] #3394 closed

[2017-11-30 22:13] ckarlof opened #3867 "Variable response time for the primary screenshots UI to appear after clicking toolbar item."
On some pages it appears almost instantly and on others it seems to take 500-1000ms. For example, I see a significantly delay when trying to take a shot on https://github.com/mozilla-services/screenshots/issues.

[2017-12-01 01:52] chenba commented on #3661
I've found that the strings get updated reliably on the second restart.  That is, make some changes, `bin/run-addon`, exit, `bin/run-addon` once more.  I noticed that the version string passed in the startup data does not change while the version string in the manifest changes during the restarts.  (Occasionally I saw that the version string from deviceInfo, which uses browser.runtime.getManifest(

[2017-12-01 01:55] 6a68 commented on #3661
bootstrap's startup receives the version number, but we don't pass that number into the webextension's startup method. we probably need to ask in #teamaddons to understand how to correctly pass in that number

[2017-12-01 01:56] 6a68 commented on #3661
probably [this](https://github.com/mozilla-services/screenshots/blob/master/addon/bootstrap.js#L182) is the line that needs to be changed - but there are just a handful of 'embedded webextensions' in existence, so the (internal) APIs we're using aren't really documented in the same way that public webextension APIs are

[2017-12-01 02:28] chenba commented on #3661
EmbeddedExtension.startup doesn't take a version number as one of its params though.  It only takes the startup reason.

[2017-12-01 06:46] fangshih opened #3869 "Visual refresh screenshots share panel"
Current share panel needs to update the visual to align with photon doorhanger UI style. I'll update the visual assets and spec.

[2017-12-01 06:48] fangshih opened #3870 "Update visual for delete screenshot confirm window"
Delete shot confirm window are still using the old UI, I'll update the visual screens and spec soon.

[2017-12-01 07:27] youwenliang commented on #3861
The expected behavior for downloading large files should be:
1. Click download (and will immediately leave the screenshot overlay view)
2. Start loading in the download panel (calculating sizes)
3. Start downloading the files
4. Download complete

From the screen-recording it seems like step 1 & 2 & 3 are combined so it feels like it's freezing in the first step. Any chance we can fix that?

[2017-12-01 07:37] youwenliang commented on #2582
@chenba Does it work on Mac? (⌘command + c)

[2017-12-01 12:42] leni1 commented on #3482
@g-k I have a quick question. As I've been trying to understand the code, I've began to wonder if the Mozilla Screenshots uses plain JavaScript or NodeJS. For example I was trying to understand the line `const PNG_HEADER = Buffer.from(PNG_HEADER_BASE64, "base64");`, in particular what `Buffer` does. A quick search led me to these two resources: https://developer.mozilla.org/en-US/docs/Web/JavaScri

[2017-12-01 14:36] chenba commented on #2582
@youwenliang Yes it should.  But since I don't have a Mac, I cannot verify personally.

[2017-12-01 15:02] chenba commented on #3850
I can confirm this is fixed in the latest Nightly.

[2017-12-01 15:02] #3850 closed

[2017-12-01 16:17] g-k commented on #3482
@leni1 Good question! [The png header line](https://github.com/mozilla-services/screenshots/blob/e4bdf1bb4c3bc088978d2b8b360f720f28c4bcdc/server/src/servershot.js#L14) is a node.js Buffer, so your initial assumption is correct.

Screenshots uses both plain JS and node.js. Generally things in `server/` run on node, `addon/` in vanilla JS, and `shared/` on both.

[2017-12-01 18:16] 6a68 commented on #2582
@chenba It's really helpful to have all three OSes available when working on Firefox bugs. You should be able to ask for a mac loaner via [servicedesk](https://mozilla.service-now.com/sp?id=sc_cat_item&sys_id=bcd5f501d8c43400dc7e3d9bdc8f397d).

[2017-12-01 18:40] johngruen opened #3871 "Investigate why Twitter embeds look broken for some shots:"
For example:
![image](https://user-images.githubusercontent.com/3323249/33497837-44cd5ffe-d69d-11e7-89ac-933bf5bbe4d1.png)

[2017-12-01 19:40] johngruen opened #3872 "direct-view-embedded-non-owner calls are getting made at an alarming rate"
The following graph is a view of web events filtered for event actions that equal `visit` where the browser is Firefox over the first two months of Screenshots.

There's a massive spike in `direct-view-embedded-non-owner` event pings at this point, which seems bad and wrong. We should investigate this.

![image](https://user-images.githubusercontent.com/3323249/33499996-369dad8c-d6a5-11e7-944e-a80

[2017-12-01 19:46] johngruen opened #3873 "Referral spam spike in 56 timeframe"
Not sure what's actionable here, but this is gross.

![image](https://user-images.githubusercontent.com/3323249/33500332-6f7d5098-d6a6-11e7-872a-a2f00fa5f6f9.png)

[2017-12-01 19:47] johngruen commented on #3873
Spike at the end is the same as in #3872

[2017-12-01 23:56] 6a68 commented on #3160
suggestion from aswan: "seems like you should be able to just put a bunch of your startup code inside requestIdleCallback in the background page and that should "just work""

[2017-12-02 00:46] 6a68 opened #3875 "[Metabug] Make Screenshots a regular, non-embedded webextension"
_last updated 12 Sep 2018_

Metabug to track work needed to remove the bootstrapped wrapper from Screenshots:

## Open items:

### Lifecycle
- [x] Check the disabled pref inside the webextension before loading the UI code (#4811)
  - The addons team did this for us, moving the disabled pref check into the browser (bug 1488971)
- [x] Init the Library menu item from the webextension (#4812)
  - For

[2017-12-02 00:47] 6a68 commented on #3661
You're right @chenba, the version number is stale. I think this may be an artifact of using the unmaintained `jpm` tool inside `./bin/run-addon`. If I bump the version number, create the xpi via `make unsigned_bootstrap_xpi`, then manually install it via `about:addons`, the version number passed to startup is correct.

The best long-term solution is to get away from jpm by removing the bootstrappe

[2017-12-02 00:47] #3661 closed

[2017-12-03 02:43] wadie opened #3876 "Scroll in PDF file"
Normally on any webpage you can drag and scroll to take a screenshot, but this isn't working when opening a PDF file. I can drag and take a screenshot to whatever is visible, but not scroll to include other parts of the PDF in the screenshot.

[2017-12-04 12:25] Softvision-CristinaBadescu opened #3878 ""Whoa! Firefox Screenshots went haywire..." error message is displayed when you rapidly click 3 times the "Copy" button"
[Notes]:
- This issue is reproducible only on pages with a large amount of data(eg.:https://www.youtube.com/user/smileyomul, https://imgur.com/, http://edition.cnn.com/), when you select the "Save full page" option.

[Affected versions]:
- Nightly 59.0a1
- Screenshots 25.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox browser and navigate to a

[2017-12-04 12:32] Softvision-CristinaBadescu commented on #3850
This issue is no longer reproducible using Firefox Screenshots 25.0.0, on latest Nightly build 59.0a1 (2017-12-03), on Windows 10 x64, Mac 10.12.6 and Ubuntu 14.04 x64.

[2017-12-04 12:39] Softvision-CristinaBadescu commented on #3867
Thanks for reporting this. However, it seems to be a dupe of #3861.

[2017-12-04 13:28] Softvision-CristinaBadescu commented on #2582
I've tested this on Mac 10.12.6, on Screenshot 25.0.0, using latest Nighlty build 59.0a1 (2017-12-04) and the "Command + C" key combination didn't work: the screenshot wasn't copied to the to clipboard and the "Shot Copied" notification didn't appear.
This issue is not reproducible on Windows 10 x64 or on Ubuntu 14.04 x64.

[2017-12-04 15:35] chenba opened #3879 "Command+C Does Not Copy Image to Clipboard on MacOS"
Maybe https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/metaKey is outdated?  In that case we'll need to use "OSLeft" and "OSRight".

[2017-12-04 15:36] chenba commented on #2582
@Softvision-CristinaBadescu Thanks for verifying.

I've filed a separate issue for this: #3879

[2017-12-04 17:06] Softvision-CristinaBadescu commented on #3857
I wasn't able to reproduce this issue using Firefox Screenshots 25.0.0 and Firefox Screenshots 26.0.18654, on latest Nightly build 59.0a1 (2017-12-04), on Mac 10.12.6 and Windows 10 x64. I've managed to successfully delete all My Shots and the pagination didn't appear on the empty "My Shots" page, not even for a briefly time.

[2017-12-04 17:26] ianb commented on #3872
After discussion, we realized this was due to Activity Stream: Activity Stream uses og:image to make cards for pages on newtab, and so if a Screenshot shows up there then we'll get pinged. I'll ask around about separating out AS pings from other similar views.

[2017-12-04 17:27] #3063 closed

[2017-12-04 17:29] #3863 closed

[2017-12-04 17:53] ckarlof commented on #3867
The issue I'm reporting is different to the one in #3861, but they might have the same cause. The delay I'm reporting is between "Click the "Take a Screenshot" button from "Page Actions" menu" and seeing the the overlay that offers the controls to save the page.

[2017-12-04 18:03] bnjbvr commented on #3124
And yet another example, independently found by two different users at a local Firefox meetup: https://bugzilla.mozilla.org/show_bug.cgi?id=1422118

[2017-12-04 19:57] chenba commented on #3867
@ckarlof do you have other pages where this is consistently happening?  The overlay appears almost instantly for me on https://github.com/mozilla-services/screenshots/issues

[2017-12-04 20:14] 6a68 commented on #3867
@chenba I've seen a noticeable delay on heavyweight pages, like imdb.com, cnn.com, theverge.com.

That said, I'm not able to reproduce any lengthy delays with github URLs.

I think this is a legit perf bug; reopening.

[2017-12-04 20:15] 6a68 commented on #3867
Also, since we are now tracking the time from page action / context menu click to overlay being shown, we might be able to find some worst-case domains from GA

[2017-12-04 20:33] ianb commented on #3867
GA won't have (shouldn't have) any information that would point to the source domain

I wonder if the `iframe.onload` handler might fire slowly or oddly given a queue of tasks on a page?

[2017-12-04 20:43] #3600 closed

[2017-12-04 21:21] abitrolly commented on #2491
I need to make screenshot of broken html in Firefox extension. Reaching out to menu removes extension popup from the screen, so I am looking for shortcut to capture it.

[2017-12-04 22:49] johngruen opened #3882 "User Reports of Haywire error"
From Twitter. User reports error on "stock Firefox" and only for full-page/visible.

![image](https://user-images.githubusercontent.com/3323249/33580480-63c21960-d91b-11e7-9e72-fae51e8f05db.png)

[2017-12-04 22:51] johngruen commented on #3882
@atoponce, if you're inclined, could you write in any console errors you see when you try to take a shot. Also, OS info would be useful to help diagnose. Thanks!

[2017-12-05 00:01] atoponce commented on #3882
OS: Debian Sid (latest update as Dec 03, 2017)
Firefox: 57.0.1
Package: 57.0.1-1
Extensions:
* Awesome Screenshot - Capture, Annotate & More (as a fallback) 3.0.21
* Better TweetDeck 3.4.10
* bitwarden - Free Password Manager 1.22.0
* DuckDuckGo Plus 2017.11.30
* Make Trump Tweets Eight Again 1.1.2
* Privacy Pass 1.0
* Proxy Switcher and Manager 0.1.8
* Tree Style Tab 2.3.0
* uBlock Origin 1.14.20

[2017-12-05 08:46] iceuponfire commented on #2582
@chenba sorry for answering so late but i can confirm you that ctrl+c still does not work, when i press ctrl+c there is no error message on console. However i dont know if this is relevant but when i start a capture i get a lots of warning refering to blank.html like Unknown "user-selec"t property. Declaration abandoned. see that capture ![warning](https://user-images.githubusercontent.com/2321088

[2017-12-05 11:51] pascalchevrel commented on #3882
@atoponce can you paste here links to stack traces in about:crashes? Thanks

[2017-12-05 11:59] Softvision-CristinaBadescu commented on #3857
After further investigations, I've managed to reproduce it using Firefox Screenshots 25.0.0 on latest Nightly build 59.0a1 (2017-12-04) on Windows 10 x64, Mac 10.12.6 and Ubuntu 14.04 x64, by following this steps:

1. Open the Firefox browser.
2. Click the "View history, saved bookmarks and more" menu from the toolbar.
3. Click "Screenshots" and observe the behavior.

This issue is reproducible on

[2017-12-05 12:34] Softvision-CristinaBadescu commented on #3857
I've also tested this issue on Firefox Screenshots 26.0.22294, installed from https://screenshots.dev.mozaws.net/homepage/install-test-local.html, and I wasn't able to reproduce it on latest Nighlty build 59.0a1 (2017-12-04), on Windows 10 x64, Mac 10.12.6 and Ubuntu 14.04 x64.
Marking this issue as verified fixed.

[2017-12-05 14:00] Softvision-CristinaBadescu opened #3885 "The Pinterest share page remains blocked when sharing a saved screenshot"
[Affected versions]:
- Firefox trybuild https://goo.gl/zWBXfk
- Screenshots 25.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have this trybuild: https://goo.gl/zWBXfk , installed on a new Firefox profile.
- Have one saved shot using "Firefox Screenshots" from the trybuild.
- Have a valid Pinterest account.

[Steps to reproduce]:
1. Open Firefox browser and log

[2017-12-05 14:36] chenba commented on #2582
@iceuponfire Could you try it with a clean profile?

[2017-12-05 14:55] iceuponfire commented on #2582
I used the profile manager to create a brand new profile and there is no warning anymore but ctrl+c still does not work.

[2017-12-05 15:05] chenba commented on #2582
@iceuponfire Thanks for all the testing.  Without finding a way to reproduce the bug reliably, it'd be difficult to work on the bug or verify a fix.  🙁

[2017-12-05 15:47] Softvision-CristinaBadescu opened #3886 "Downloading a selection fails if "Never Remember History" option is set"
[Affected versions]:
- Firefox trybuild https://goo.gl/zWBXfk
- Screenshots 25.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have this trybuild: https://goo.gl/zWBXfk , installed on a new Firefox profile.
- Have the "Never Remember History" option set in "about:preferences#privacy" page.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prere

[2017-12-05 16:45] wresuolc commented on #3886
Let's uplift this to beta

[2017-12-05 16:56] wresuolc commented on #3873
Gareth might have ideas

[2017-12-05 16:57] #3872 closed

[2017-12-05 17:01] wresuolc commented on #3867
@ckarlof what version of Firefox are you using?  Nightly had a bug where the page refreshed before displaying for a few days

[2017-12-05 17:02] ianb commented on #3876
The way our PDF rendering works (unfortunately), the webpage is only the size of the screen, and then there's a scrollable element inside the page that contains the PDF. The result is that the whole page can't scroll, only an element, and Screenshots can't figure out how to scroll just that one element.

So, unfortunately, we won't be able to fix this.

[2017-12-05 17:02] #3876 closed

[2017-12-05 17:18] #3590 closed

[2017-12-05 17:19] 6a68 opened #3888 "Provision cd7 in GA for share icon A/B test"
See https://github.com/mozilla-services/screenshots/pull/3868#discussion_r154480702

[2017-12-05 17:39] ckarlof commented on #3867
Interesting, I am using Nightly, and I can't easily reproduce anymore. Perhaps that was the issue.

[2017-12-05 17:41] chenba commented on #3867
Marking this as a dup of #3692.  Closing.

[2017-12-05 17:41] #3867 closed

[2017-12-05 20:04] 6a68 commented on #3886
This seems to be a regression (or API change) in Firefox, not in Screenshots.

I ran mozregression and got this regression window: https://hg.mozilla.org/integration/mozilla-inbound/pushloghtml?fromchange=e7b3e385157a43ad065f36ccf3d07327dfc170a3&tocha

[2017-12-05 21:24] 6a68 commented on #3882
@atoponce The problem is the "Make Trump Tweets Eight Again" add-on, which overwrites the 'iframe.onload' listener for any iframe appended to any page. This breaks Screenshots (and probably some other sites, too). It's a closed-source add-on, so I'm not sure there's much else to do here.

Closing, thanks again for letting us know you were having problems.

[2017-12-05 21:24] #3882 closed

[2017-12-05 21:28] 6a68 opened #3889 "Separate Screenshots iframes from content"
Issue #3882 was caused by another addon overwriting `iframe.onload` for any iframe appended to any content page. Seems like a good enough excuse to finally file a bug about moving the Screenshots UI out of untrusted content and into a separate frame.

[2017-12-05 21:54] wadie commented on #3876
Thanks for the explanation.

[2017-12-05 22:02] chenba opened #3891 "Dev Server Should Watch the locales Directory for Changes"
When a ftl file in `locales` changes during development, the dev server should reload automatically.

[2017-12-05 22:49] chenba commented on #3744
Not really a bug as it's just the way things work when elements are scrolled within an element.

[2017-12-05 22:49] #3744 closed

[2017-12-06 08:42] fangshih commented on #3870
Here is the update visual screen for the delete panel
![key-screens-40-delete-panel-copy-2](https://user-images.githubusercontent.com/4862573/33652407-501d0778-daa4-11e7-921a-2e55b381c730.png)
**Visual Spec:**
https://github.com/mozilla/testpilot-assets/tree/master/Firefox_Screenshots/Delete%20Panel
Thanks!

[2017-12-06 08:49] fangshih commented on #3869
Visual refresh for the share screen panel
- Using the doorhanger style from Photon.
- Updated the social media and email buttons
- Highlight the copy button
- Change the copy link function above the social media buttons, hoping it encourages people to share the link more and also it has better visual balance.
![key-screens-40-share-panel](https://user-images.githubusercontent.com/4862573/33652478-

[2017-12-06 16:37] ianb opened #3893 "Put non-authed users into A/B tests"
This would be set only with a cookie. Probably we should mark A/B tests as applying to unauthorized users (most don't). Should be a simpleish middleware addition.

[2017-12-06 20:02] stripTM commented on #2582
Do you use a different version of Firefox than the en-US lang?

Perhaps it is that in another language the ctrl+c combination is captured for another function.

I'm testing on Firefox Nightly 59.0a1 (2017-12-06) (64-bit) es-ES and it works.

[2017-12-06 20:08] asutherland commented on #3886
I have a fix for the platform regression on try, should land and get uplifted in the next few days, although it's worth noting that using "Never Remember History" in general is going to break WebExtensions until the background page docshells stop being set to be in private browsing mode.  For example, if this extension wants to use IndexedDB, that will break in never remember history mode.

[2017-12-06 20:08] johngruen commented on #3888
Okay this is created...if i read the comment correctly, this a/b test is per-user rather than per-session. I've set the `cd` to be user based. Maybe let's leave this open until we can confirm that we're pinging/recording.

[2017-12-06 20:10] ianb commented on #3886
FWIW we only use `browser.storage` for persistence, not IndexDB or localStorage or something connected to the background page specifically.

[2017-12-06 20:25] johngruen opened #3894 "A/B test textless download button on shot page"
Eventually we are going to want to start rearranging buttons in the add-on. In anticipation of this, I want to see how much effect removing the text cue from a button will have.

Let's conduct a test where we hide the word `download` from the download button on shot pages for some users and measure the relative click thru rate.

Current:
![image](https://user-images.githubusercontent.com/3323249/3

[2017-12-06 21:20] 6a68 commented on #3694
per john in IRC: notification bar variants to start, with slightly bigger font (16px?)

[2017-12-07 16:19] SoftVision-CosminMuntean opened #3897 "[Annotation] There is no icon for the "Clear" button"
[Affected versions]:
- Nightly 59.0a1
- Screenshots 26.0.0 dev

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 26.0.0 dev version installed [from here](https://screenshots.dev.mozaws.net/homepage/install-test-

[2017-12-07 17:07] 6a68 opened #3898 "Shot page titles should include 'Firefox Screenshots'"
(Did we wontfix this bug already?)

From https://twitter.com/georgebaily/status/927520943903268864:

" hm, Firefox screenshot tool is cool and all, but setting the title as not just http://screenshots.firefox.com but also the page you screenshotted, means you get lots of false positives from browser history when typing a URL / bookmark "

[2017-12-07 17:09] #3893 closed

[2017-12-07 17:09] #3620 closed

[2017-12-07 17:10] 6a68 opened #3899 "Verify A/B test results are using custom dimensions correctly"
Reminder bug to verify that GA is working for the A/B tests

[2017-12-07 17:10] 6a68 commented on #3888
Cool, opened #3899 to remind ourselves to verify GA is configured correctly for this wave of A/B tests

[2017-12-07 17:10] #3888 closed

[2017-12-07 17:32] ianb opened #3900 "Confirm disabled event collection while in Private Browsing"
While we don't allow upload, and so we never login to the website and have data collection there, I think we are still collecting events for Private Browsing sessions.

[2017-12-07 18:55] ianb opened #3901 "Interface flashes with long copy"
In Nightly/25.0.0, if I find a page (doesn't have to be long), select Full Page, and then hit the copy button, the interface/overlay briefly disappears, then appears, then disappears again.

[2017-12-07 19:04] #3418 closed

[2017-12-07 20:02] johngruen commented on #3694
@6a68 that github net neturality font was 14px. Let's do that :)

[2017-12-07 22:21] ianb opened #3902 "Revert #3896 after January 15th"
Assuming everything goes well with the survey in #3896, we should revert the commit sometime in 2018.

[2017-12-08 09:57] iceuponfire commented on #2582
I'm french so here is m'y config, using an azerty keyboard. I downloaded the en-US version od nightly and indeed it is working now. So maybe there is something going on with azerty or another locale.

![image](https://user-images.githubusercontent.com/23210888/33760110-eca0157a-dc04-11e7-9d82-a6e8a37828e3.png)

Now it's working i noticed that ctrl+c sometimes does not work at first time, i need to

[2017-12-08 12:09] SoftVision-CosminMuntean commented on #3848
This issue is still reproducible using the latest Screenshots 26.0.0 dev version installed from here: https://screenshots.dev.mozaws.net/homepage/install-test-local.html
Tested on Windows 7, Mac Os 10.12 and Arch Linux.

[2017-12-08 12:51] SoftVision-CosminMuntean opened #3905 "The saved shots wrongly overlap while "My Shots" page is loading"
[Notes]:
- Probably this issue is a regression since was not reproducible on latest Nightly (59.0a1) build with Screenshots 25.0.0 version.

[Affected versions]:
- Nightly 59.0a1
- Screenshots 26.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is

[2017-12-08 15:34] chenba commented on #3848
I branched off an earlier master rev where the canvas img crossOrigin attribute was set to "Anonymous"; another patch was merged into master set the attribute to "use-credentials".  #3906 will change the attribute back.

[2017-12-08 17:13] chenba opened #3907 "Selection Rectangle Shifted to the Left Upon Clicking on Element"
#### STR

1. Ensure your browser window is wide
1. Go to npr.org
1. Start Screenshots
1. Click on one of the stories to select it

#### Expected

Element correctly selected and highlighted

#### Actual

![image](https://user-images.githubusercontent.com/198055/33776935-903c0330-dc08-11e7-99fb-5e7e88020abc.png)

[2017-12-08 17:41] chenba commented on #3905
The addon version does not matter for this.

The issue is noticeable if the connection is very flow and the images are not cached (or caching is off).  The shot container previously had its height specified in CSS.  That is no longer the case.  So, as Firefox load and draw the images, they overlap down into the container below until some redraw reinstate the margins.

[2017-12-08 21:01] chenba commented on #3897
There are four svgs that are no longer displayable after the patch for #3063.  Although `reset.svg` is more special: it works pre-svgo, but not displayable in Firefox post-svgo, yet works in Chrome.

[2017-12-08 21:04] chenba commented on #3879
@ianb I just received a loaner MacBook Air, so I can work on this now.

[2017-12-09 22:05] asutherland commented on #3886
The fix was made available in the 20171207220423 nightly aka 12-07 22:02 for those of us who go blind when there are that many numbers in a row.  I've requested beta uplift because the regression also made it to beta.  @Softvision-CristinaBadescu, I think devrel would appreciate a re-test of this case when possible.  Thanks!

[2017-12-11 09:31] Softvision-CristinaBadescu commented on #3886
@asutherland I've retested this issue and is no longer reproducible on latest Nightly build 59.0a1 (2017-12-10), on Windows 10x64, Mac 10.12.6 and Ubuntu 14.04 x64. However, I think the fix isn't yet uplifted in Beta, since the issue is reproducible on latest Firefox Beta 58.0b10, on the mentioned OS's. When the uplift is ready, I'll retest.

[2017-12-11 10:21] asutherland commented on #3886
@Softvision-CristinaBadescu Thank you for retesting!  Indeed, the patch only landed on the beta channel last night, so retesting will need to wait until the next beta is spun.  I'm cc'ing you on the underlying (sec) bug.

[2017-12-11 12:28] Softvision-CristinaBadescu opened #3909 "The "Download" button is wrongly displayed when you perform a selection with reduced width near the left margin if "Never Remember History" option is set"
[Notes]:
- This issue is not reproducible for the "Save" button when you don't set the "Never Remember History" option, but you'll encounter the #2725 issue.

[Affected versions]:
- Firefox Beta 58.0b10
- Firefox Nightly 59.0a1
- Screenshots 25.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have the "Never Remember History" option set in "about:preferences#priva

[2017-12-12 12:23] SoftVision-CosminMuntean opened #3912 "[Enhancement] The "Copy" functionality should be added in Screenshots Onboarding"
[Notes]:
- Since a lots of users requested this feature, we should inform them about this functionality in the Screenshots Onboarding page and also on Onboarding tour.

[Affected versions]:
- Nightly 59.0a1
- Beta 58.0b10
- Screenshots 25.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Open latest Nightly build and navigate to the "https://screenshots.fi

[2017-12-12 12:44] SoftVision-CosminMuntean opened #3913 "If the title of a newly created shot was edited, the shot looks broken on "My Shots" page"
[Affected versions]:
- Nightly 59.0a1
- Screenshots 26.0.0 dev

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 26.0.0 dev version installed [from here](https://screenshots.dev.mozaws.net/homepage/install-test-

[2017-12-12 20:54] chenba commented on #3913
I suspect a (failed) thumbnail re-gen was attempted on the title save.

[2017-12-13 12:34] leni1 commented on #3482
@g-k I was wondering about how to submit the new test file. Should I create a separate branch or fork this repository and then submit a pull request with changes?

[2017-12-14 16:51] g-k commented on #3482
Hi @leni1,

The POSTed data passes through functions defined in a bunch of files and ends up in [the ServerClip constructor function](https://github.com/mozilla-services/screenshots/blob/8df334e2676bde58644aab9b32654572abbfa255/server/src/servershot.js#L352-L358
), which calls `assertPngOrJpeg`. I think [create_shot](https://github.com/mozilla-services/screenshots/blob/5bd458345a0613565bc8f0401904

[2017-12-15 17:47] chenba opened #3915 "Do Not Save Unchanged Title"
The shot page sends a request to save the title even if the user did not modify the title.

[2017-12-15 20:09] wadie opened #3916 "Screenshot the settings page"
Why isn't it possible to take a screenshot in `about:addons` for example or `about:preferences` ?

[2017-12-17 02:01] 12people commented on #3578
@aminalhazwani Microsoft did a widespread A/B test on the subject and found that the best platform-agnostic icon was the right-pointing arrow: https://medium.com/microsoft-design/the-iconography-of-sharing-183a1ad9c6f1 . It's the same metaphor that you use in your Windows share icon.

[2017-12-17 10:02] rugk commented on #3578
Hmm… the oldschool Windows "link"/desktop shortcut icon. Yeah, this could also be a better icon. In any case better than the "upload" icon used currently…

[2017-12-17 10:02] rugk commented on #3620
See also https://github.com/mozilla-services/screenshots/issues/3578#issuecomment-352225856 for a new icon suggestion:
![grafik](https://user-images.githubusercontent.com/11966684/34078395-d3f210fc-e319-11e7-8d75-8c9e4324c081.png)

[2017-12-18 13:38] tomrittervg commented on #3651
3.21.0 has been release

[2017-12-18 15:04] aminalhazwani commented on #3578
@12people yes, for windows we have a similar share icon https://design.firefox.com/icons/viewer/#share

[2017-12-18 15:14] hbakhtiyor opened #3918 "full page screenshoting is not truly full screenshot"
the tested website: http://www.spiegel.de/
screenshoting until 5000px height

[2017-12-18 16:43] wresuolc commented on #3918
This is a built-in limitation on purpose -- we're conserving memory while we continue to optimize Screenshots.  The new limit, beginning in Firefox 58, is 10000.

[2017-12-18 16:43] #3918 closed

[2017-12-18 16:44] wresuolc commented on #3916
This is a limitation of the way we take Screenshots -- these are not normal web pages so we can't interact in the DOM in the same way.

[2017-12-18 16:44] #3916 closed

[2017-12-18 16:49] wresuolc commented on #3907
possible dupe if we can find the other issue

[2017-12-18 16:53] wresuolc commented on #3905
Lets add a fixed height to the thumbnails.

[2017-12-18 16:55] wresuolc commented on #3900
@6a68 is going to see if PBM already does this for free

[2017-12-18 16:56] johngruen opened #3919 "Push notifications not working in Nightly"
Can someone confirm this @SoftVision-CosminMuntean

[2017-12-18 17:06] SoftVision-CosminMuntean commented on #3919
It seems that on Windows the push notifications are working, but not on Mac OS. Probably is a Nightly regression. I am checking it now.

[2017-12-18 17:45] SoftVision-CosminMuntean commented on #3919
The issue is reproducible only on Mac Os. I haven't managed to reproduce this issue on Windows 7 x64 and Ubuntu 14.04 x64.

IT seems that is a Nightly regression. Using mozregresssion tools I have found the regression range. Here are the results:

Last good revision: 03aebc551f9da0dfbe383c39d2fcb2f2975eeecc
First bad revision: 8fd1d4a79a48211fb77a442a7ad38b7a78d720b1
Pushlog: https://goo.gl/xtHpAK

[2017-12-19 16:03] chenba commented on #3901
@SoftVision-CosminMuntean Can you find a way to reproduce this consistently?  I haven't been able to with the latest Nightly on Windows and Linux.

[2017-12-19 16:22] SoftVision-CosminMuntean commented on #3901
Sure. I started to investigate this and it seems that is more visible on Mac OS. I will provide more information and a screen recording with the issue.

[2017-12-20 17:23] johngruen commented on #3160
I'm punting this. not gonna happen in the 59 time frame

[2017-12-20 21:26] chenba commented on #3901
This is noticeable with copy to clipboard simply because copying is slow.  If I make download shot artificially slow (or if I'm using a very slow computer), then it's noticeable there as well.  The source of this is where `shooter.screenshotPage` `hide()` and then `unhide()` the iframe.

[2017-12-21 12:20] SoftVision-CosminMuntean opened #3921 "The descriptive images from Screenshots tour page are no longer displayed on dev and stage"
[Affected versions]:
- Nightly 59.0a1
- Screenshots 27.0.0 dev and stage

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Open the Firefox browser and navigate to "https://screenshots.stage.mozaws.net/#tour" page.
2. Observe the descriptive images from the page.

[Expected result]:
- The descriptive images are correctly displayed.

[Actual result]:
- The desc

[2017-12-21 13:13] Softvision-CristinaBadescu opened #3922 "Wrong screenshot is performed for a selection smaller than 40 px width"
[Notes]:
- Also, the selection is not visible if the width is smaller than 40 px.

[Affected versions]:
- Firefox Beta 58.0b12
- Firefox Nightly 59.0a1
- Screenshots 25.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox browser and navigate to a website.
2. Click the "Page actions" menu and select Firefox Screenshots.
3. Perform a selection with a

[2017-12-21 16:35] wresuolc commented on #3922
This is odd - the eyes aren't following the mouse.

[2017-12-21 23:07] gene1wood commented on #3805
Right, I mean being able to add it back to the customizable section of Firefox that contains other add-on buttons and the download icon and the container icon, the place where it was before during test pilot, not to the URL bar where the "..." menu icon is and the bookmark star icon is.

[2017-12-22 22:13] wresuolc opened #3923 "Add how to look up images to the takedown docs"
Sometimes we get takedown requests that are .png URLs instead of page URLs.  We should add how to find the page URL to https://github.com/mozilla-services/screenshots/blob/master/docs/takedown.md

[2017-12-22 22:13] wresuolc opened #3924 "No backups?"
Just filing this for triage later:  it sounds like we're not backing up our s3 bucket right now.  Should we be?

[2017-12-22 23:53] wresuolc commented on #3508
Clearing milestone to re-review priority. Related to bug 1424870

[2017-12-26 17:03] ZyptosKid commented on #1849
One of the bugs I noticed is the fact that when you take a screenshot that requires you to scroll (ex. an article), if the website had a sticky scrolling navbar, it will appear in the middle of your screenshot every single time.

Suggestions:
A) Freeze the page in a pre-screenshot snapshot and then allow the user to "screenshot" from that. Effectively, the user would be just cropping the previousl

[2017-12-26 17:46] ZyptosKid commented on #1849
an option to re-crop the screenshot should be added to the rest of the retouch options like drawing and marking etc.. it would be nice

[2017-12-27 10:23] pradeepgangwar commented on #3482
@leni1 can i work on this if you are not working.

[2017-12-27 18:43] leni1 commented on #3482
@pradeepgangwar feel free to submit a patch. Since I haven't submitted a patch as yet, I think you can work on it. If either one of us ends up submitting a patch before the other, then I think the person who submits the first patch should be the "owner" of the issue. At least that's how I've seen it done in other Mozilla projects.

[2017-12-28 16:50] dserodio opened #3927 ""Feedback form" has Lorem Ipsum content"
The [Firefox/Screenshots/FAQs Wiki](https://wiki.mozilla.org/Firefox/Screenshots/FAQs) page has a link to a [https://qsurvey.mozilla.com/s3/firefox-screenshots-feedback?ref=github](feedback form). This form has a Lorem Ipsum text :smile:

![Screenshot](https://screenshots.firefox.com/fKlClMBkcbbaQpDI/qsurvey.mozilla.com)

[2017-12-28 16:52] dserodio opened #3928 "[Enhancement] Please add option to include URL"
When reporting bugs in web apps, it's often useful to show the URL alongside the screenshot. Please add an option to include URL bar, or some other way of including the URL in the screenshot.

[2017-12-29 18:44] chenba commented on #3921
Probably related to #3897.  Let's wait until PR #3910 is merged and re-test this.

[2018-01-01 17:28] KopfKrieg opened #3929 "Full page screenshot only saves partial website"
I recently had the issue, that a full page screenshot resulted only in an partial image of the website.

Tested website: http://www.ryanestrada.com/learntoreadkoreanin15minutes/

Here's the screenshot I got: ![Screenshot](https://user-images.githubusercontent.com/5047813/34469535-724500e4-ef21-11e7-9474-dd4e7c1b86ed.jpg) (as you can see, it doesn't contain the whole site)

[2018-01-01 19:00] abbiefl opened #3930 "A user's home page is taken instead of a thread on Twitter"
When you try to take a full screenshot of a conversation window it takes a page in the background instead.

[2018-01-03 12:30] SoftVision-CosminMuntean commented on #3929
@KopfKrieg thanks for reporting this!

Based on the current implementation Screenshots has a limit of 5000 px height on Firefox 57, but starting with Firefox 58, the new limit will be 10000px (see issue #3538).

[2018-01-03 12:30] #3929 closed

[2018-01-03 14:35] SoftVision-CosminMuntean commented on #3930
I can reproduce this issue on Firefox 57.0.3 and latest Nightly 59.0a1 build.
When you take a full screenshot on a thread, it seems that only the visible part of it is displayed where it was originally positioned over the Twitter homepage.
See this screenshot: https://screenshots.firefox.com/QM5YRNjXuNS5sYfm/twitter.com

If the homepage has a lot of content loaded (>5000px of Firefox, >10000 px on

[2018-01-03 16:04] Softvision-CristinaBadescu commented on #3886
I've retested this issue on latest Firefox Beta 58.0b13 and is no longer reproducible using Firefox Screenshots 25.0.0 on Windows 10 x64, Mac 10.13 and Ubuntu 14.04 x64.

[2018-01-03 16:04] #3886 closed

[2018-01-03 16:53] johngruen commented on #3930
possibly related to #3124

[2018-01-03 16:54] johngruen commented on #3930
@ianb come up with a solution

[2018-01-03 16:55] johngruen commented on #3928
@dserodio we actually had this but backed it out for security reasons. I have a bug filed, so i am closing this as a dupe of #3251

[2018-01-03 16:55] #3928 closed

[2018-01-03 16:58] johngruen commented on #3508
Todo: figure out if we need to work on this

[2018-01-03 19:52] #3878 closed

[2018-01-03 19:58] #3894 closed

[2018-01-03 19:59] #3848 closed

[2018-01-03 20:00] #3879 closed

[2018-01-03 20:00] #3897 closed

[2018-01-03 20:03] #3777 closed

[2018-01-03 20:43] #3421 closed

[2018-01-04 13:36] SoftVision-CosminMuntean commented on #3913
This issue is still reproducible on Screenshots (27.0.0) dev version. But, it seems that the saved shots now looks a little bit different than before the PR was merged.
See this screenshot:
![screenshot-2018-1-4 my shots](https://user-images.githubusercontent.com/19226534/34565853-17e79fa8-f165-11e7-98cc-3650127633dd.png)

[2018-01-04 13:40] SoftVision-CosminMuntean commented on #3919
After more investigations, it seems that not only Screenshots is affected by this Nightly regression. The push notifications are also not working for any websites (eg: Facebook) or add-ons (eg: Tab notifier or SnoozeTabs) that use them.
However, I have logged a new issue on Bugzilla for this: https://bugzilla.mozilla.org/show_bug.cgi?id=1427996

[2018-01-04 13:40] Softvision-CristinaBadescu commented on #3878
This issue is no longer reproducible using Firefox Screenshots dev v27, on latest Nightly build 59.0a1 (2018-01-04), on Windows 10x64, Mac 10.13 and Arch Linux 4.12.

[2018-01-04 13:42] SoftVision-CosminMuntean commented on #3921
I have retested this issue on Screenshots dev version and is no longer reproducible. It seems that was fixed after the PR #3910 was merged.

[2018-01-04 13:42] #3921 closed

[2018-01-04 15:18] SoftVision-CosminMuntean opened #3933 "[Annotations] The buttons from "Edit" page disappears after being hovered and clicking the page background"
[Notes]:
- The edit tools buttons disappears after they were hovered and clicking the page background or on the page header.
- The "Save" and "Cancel" buttons do not disappear after they were hovered and then clicking the page header.
- The buttons are redisplayed when are hovered, but if you click again the background or on the page header, the buttons will disappear again.

[Affected versions]:

[2018-01-04 15:22] SoftVision-CosminMuntean opened #3934 "[Annotations] The highlighter looks wrongly jagged instead of smooth when its direction is changed"
[Affected versions]:
- Nightly 59.0a1
- Screenshots 27.0.0 dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 27.0.0 dev version installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-loc

[2018-01-04 15:23] SoftVision-CosminMuntean opened #3935 "[Annotations] The black highlighter is not transparent and the white one is not visible"
[Affected versions]:
- Nightly 59.0a1
- Screenshots 27.0.0 dev

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 27.0.0 dev version installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-

[2018-01-04 15:58] SoftVision-CosminMuntean opened #3936 "[Annotations] The mouse cursor is not changed into a hand pointer when the "Color Picker" button is hovered"
[Affected versions]:
- Nightly 59.0a1
- Screenshots 27.0.0 dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 27.0.0 dev version installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-loc

[2018-01-04 16:18] SoftVision-CosminMuntean commented on #3848
I have retested this issue on latest Screenshots 27.0.0 dev version and is no longer reproducible. Tested on Mac, Linux and Windows. Marking this as verified.

[2018-01-04 16:19] SoftVision-CosminMuntean commented on #3897
I have retested this issue on latest Screenshots 27.0.0 dev version and now the icon is correctly displayed. Tested on Mac, Linux and Windows. Marking this as verified.

[2018-01-04 16:56] johngruen commented on #3912
I am ambivalent about this: moving to product backlog.

[2018-01-04 17:02] SoftVision-CosminMuntean commented on #3905
@chenba @ianb did you guys merged some changes related to this issue? Because I haven't managed to reproduce it on latest Screenshots 27.0.0 dev version.

[2018-01-04 17:06] chenba commented on #3905
Yes: https://github.com/mozilla-services/screenshots/pull/3920

I made a typo on the PR description when referencing this issue.

[2018-01-04 17:25] wresuolc commented on #3924
@oremj is going to turn on versioning and replication.  We plan on using the standard mozilla expiration times (I'm not sure what those are).

[2018-01-04 17:38] #3913 closed

[2018-01-04 19:26] ianb commented on #3898
The `<title>` tag does include `Screenshot:`. Oddly the tab title and history title doesn't include this?

There are several title-like things on the page, including og:title, twitter:title. BUT: I believe the issue here is that we set `document.title`! That's not intentional.

[2018-01-04 19:54] #3898 closed

[2018-01-04 20:37] ianb commented on #3885
@Softvision-CristinaBadescu : I'm not able to reproduce this currently. I went to screenshots.firefox.com/shots and shared directly from there, and was able to save a shot successfully. (Could something have been wrong with Pinterest at the time?)

[2018-01-04 20:46] chenba commented on #3508
From some simple testing, it appears that there isn't much of a performance penalty with converting to a blob for the preview image (vs. toBlob or using a data url for the image).  For bug 1424870, we could create a small patch doing just that.  We'll put this back on the back burner in the meantime.

[2018-01-04 23:18] chenba opened #3940 "Use Object URL for Preview Image"
Related to bug 1424870

[2018-01-04 23:26] 6a68 opened #3942 "Data Studio config problems"
Many of the pages in the Data Studio dashboard look busted:

![](https://screenshots.firefoxusercontent.com/images/a895ed87-dc57-4df7-95db-99fbdbc02a4e.png)

[2018-01-05 01:01] #3905 closed

[2018-01-05 01:09] chenba commented on #3756
[Bug 1419842](https://bugzilla.mozilla.org/show_bug.cgi?id=1419842) has been resolved.

[2018-01-05 10:06] SoftVision-CosminMuntean commented on #3913
I have retested this issue using Screenshots 28.0.0 dev and stage version and is no longer reproducible. The shot is correctly displayed on "My Shots" page, if the title of was edited.

[2018-01-05 16:05] step21 commented on #2491
Adding to this, @abitrolly would be great if this could be taken into account, because as far as I understand with these extension popups especially, a keyboard shortcut seems like it should not affect the popup but often will anyway.

[2018-01-05 16:14] Softvision-CristinaBadescu commented on #3907
I've managed to find a similar behavior on https://brightside.me. When you automatically perform a selection you can observe that it is shifted a little bit lower than the preview selection. This issue is reproducible on Firefox Screenshots v28.0.0.0, installed from [here](https://screenshots.stage.mozaws.net/homepage/install-test-local.html), on latest Nightly build 59.0a1 2018-01-05, on Windows

[2018-01-05 16:22] SoftVision-CosminMuntean opened #3943 "[Annotations] "Error saving edited shot" dialog is displayed when you try to save a very large edited shot"
[Notes]:
- Also, after you dismiss the dialog, you get another one: "Connection error".

[Affected versions]:
- Nightly 59.0a1
- Screenshots 28.0.0 dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 28.0.0 dev v

[2018-01-05 16:24] chenba commented on #3907
@Softvision-CristinaBadescu I cannot reproduce it on https://brightside.me.  I did notice that you have something open at the bottom of your browser (some sort of counter?).  Could you close that and try it again?

[2018-01-05 16:41] Softvision-CristinaBadescu commented on #3907
Sure thing @chenba. I've closed Developer Toolbar, retested and still managed to reproduce it again. Moreover, I've managed to reproduce this on latest Firefox release 57.0.4 using Firefox Screenshots 19.2.0.
Here is the screen recording:
![shifted selection rectangle](https://user-images.githubusercontent.com/31244235/34618610-f68fd526-f247-11e7-8ea1-76c52fd8f9e4.gif)

[2018-01-05 16:48] Softvision-CristinaBadescu commented on #3885
Hey @ianb, I also cannot reproduce this issue anymore. I've retested it using Firefox Screenshots 28.0.0 on latest Nightly build 59.0a1 (2018-01-05), on Windows 10 x64, Mac 10.13 and Arch Linux 4.12. I've managed to successfully share the saved screenshot, and the Pinterest share page didn't remained blocked. So yes, it seems like it was a platform issue.

Considering this, I'm going to close this

[2018-01-05 16:48] #3885 closed

[2018-01-05 17:04] Softvision-CristinaBadescu opened #3944 "A border wrongly appears at the bottom of a saved shot's image"
[Affected versions]:
- Nightly 59.0a1
- Firefox 57.0.4
- Screenshots v28.0.0 and v19.2.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Open Firefox browser and navigate to any website.
2. Right click on the page and select "Take a Screenshot" from the context menu.
3. Perform a selection and click the "Save" button.
4. Observe the saved shot's image.

[Exp

[2018-01-05 17:56] johngruen commented on #3944
hmm that was already there, but it looks like some margin got inserted there somehow

[2018-01-05 18:29] chenba commented on #3907
@Softvision-CristinaBadescu the reason I wasn't able to reproduce it is that I had uBlock Origin running in that profile. :D

[2018-01-05 18:57] chenba commented on #3907
This bug doesn't exist on Firefox 57.0.4 (Screenshots 19.2.0).

[2018-01-05 21:08] chenba commented on #3907
The fix for #3256 is the source of this bug.  (Note: Firefox Send has updated its CSS since #3256 was originally reported.)

[2018-01-05 22:34] chenba commented on #3907
Note on testing with npr.org: ensure your document width is greater than 1300px.

[2018-01-06 16:09] rugk commented on #3930
Can con firm this:

Full screenshot: Tread not shown at all.
Manual "dragging" and moving the dragged area out of the visible space: At the edge of the visible space, the thread is cut of and the homepage (i.e. background/timeline) is shown.

Firefox 57

[2018-01-07 01:39] SuperTux88 opened #3946 "Screenshots of IPv6 addresses don't work"
I get only an error when I try to take a screenshot of a website with an IPv6 address like http://[1234:5678:90ab:cdef::2]:

"Whoa! Firefox Screenshots went haywire.
We're not sure what just happened. Care to try again or take a shot of a different page?
Error: Not a URL"

[2018-01-08 09:19] Softvision-CristinaBadescu commented on #3907
Hello @chenba! Hmmm, this is strange. I've tested this issue using Firefox Screenshots 19.2.0 on latest Firefox Release 57.0.4 and managed to reproduce it on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.
Here is a screen recording with it:
![shifted selection firefox release](https://user-images.githubusercontent.com/31244235/34664689-c0346fb2-f465-11e7-9b49-ac61d16986fa.gif)

[2018-01-08 10:50] shreyanshdwivedi commented on #3915
@chenba are you working on this? If not, I would like to work on this issue

[2018-01-08 13:48] SoftVision-CosminMuntean opened #3947 "[A/B test] On the shot page, the icon from the textless download button is not centered"
[Affected versions]:
- Nightly 59.0a1
- Screenshots 28.0.0 dev & stage

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 28.0.0 stage version installed from [here](https://screenshots.stage.mozaws.net/homepage/inst

[2018-01-08 14:21] chenba commented on #3907
@Softvision-CristinaBadescu I am sorry, I should've been more specific.  The shift on x (npr.org) did not exist on the older version of Screenshots, but the shift on y (brightside.me) did.

[2018-01-08 14:36] chenba commented on #3677
@SoftVision-CosminMuntean can you verify if this is still an issue?

[2018-01-08 14:40] chenba commented on #3500
@youwenliang any update on this?

[2018-01-08 14:43] chenba commented on #3112
Isn't this a duplicate of #1849?  At least the titles are identical.

[2018-01-08 15:01] SoftVision-CosminMuntean commented on #3677
I have retested this issue with Screenshots 28.0.0 dev version using latest Nightly 59.0a1 build and is no longer reproducible. Tested on Windows 10 & 7x64, Mac 10.12 and Ubuntu 14.04 x64.

[2018-01-08 15:01] #3677 closed

[2018-01-08 16:30] wresuolc opened #3948 "Add ability to export screenshots"
We should add a button that lets users download all their shots in one bundle (zip file).  Images are easy, but how should we include the meta data?

[2018-01-08 16:56] ianb opened #3949 "Create a list of 5 new Selenium tests"
Per our quarterly goals, we're going to add 5 more Selenium tests (our current test is in `test/test.js`)

Each proposed test should become its own ticket.

[2018-01-08 19:07] #3947 closed

[2018-01-08 23:05] #3901 closed

[2018-01-08 23:05] #3923 closed

[2018-01-08 23:21] #3843 closed

[2018-01-09 07:14] shreyanshdwivedi commented on #3915
I am working on this. Please assign this to me

[2018-01-09 13:54] chenba commented on #3915
I don't have the power to do that.  Maybe... @clouserw ?

[2018-01-09 14:52] SoftVision-CosminMuntean commented on #3947
I have retested this issue with Screenshots 28.1.0 stage version and is no longer reproducible. The icon is centered in the button. I have tested it only on Windows.
I have also tried on Mac, but I have created ~20 profiles and I haven't get the textless download button.
@chenba  Is there a way to force this variant of a/b testing?

[2018-01-09 15:08] SoftVision-CosminMuntean commented on #3933
This seems to be a Nightly issue. The issue is not reproducible on older Nightly builds (eg build from 2017-12-20). Using mozregression tools I have found the regression range:

Last good revision: 530f8947e66c15581c0eac0ad3a39bd8d6856d48
First bad revision: bbed4bf1ca00d561e2b3745c2eba349b01a4fd03
Pushlog: https://goo.gl/F3hqEU
Looks like the [Bug 1413546](https://bugzilla.mozilla.org/show_bug.cg

[2018-01-09 15:08] #3933 closed

[2018-01-09 15:52] chenba commented on #3947
@SoftVision-CosminMuntean I'm not aware of an easy way.  I suppose to you could edit the response with a proxy like [Fiddler](https://www.telerik.com/fiddler), [James](https://github.com/james-proxy/james), or [Charles](https://www.charlesproxy.com/).  But for this issue, that doesn't seem worthwhile.

Maybe @6a68 has a better suggestion up his sleeve.

[2018-01-09 16:42] wresuolc commented on #3948
Aiming for UX in 60-0, and implementation later

[2018-01-09 17:07] wresuolc commented on #3797
Thanks for the comment.  We strive for a product that respects privacy, from routing analytics pings through our servers to using randomly generated URLs instead of actual image URLs in them when we do collect URLs.  Breaking down your comment:

You already can if you click the download button.

Editing (annotations) hasn't officially launched yet, but we're working on it.  I think all of these to

[2018-01-09 17:07] #3797 closed

[2018-01-09 17:56] ianb opened #3953 "Switch to ship2gecko"
@jasonLaster has a script for exporting to mozilla-central which is nicer than ours. Let's just use that! See https://github.com/jasonLaster/ship2gecko

Looking a little at this, I think the best way to integrate it is for us to create a script that calls `ship2gecko` vs. calling that as a command. [Some pointers here](https://docs.google.com/document/d/14etQYqsdxMb6FBFDSj_bBI-vcSkj1soX-hd2ZhbpJdc

[2018-01-09 21:57] chenba commented on #3900
This is tricky because there's no way to detect if the user is on a private browsing tab from a background script.  `browser.tabs.getCurrent()` always resolve with an `undefined` and `browser.extension.inIncognitoContext` is always false.

`browser.extension.inIncognitoContext` works great in content scripts.

@ianb is there some other API I can use?

[2018-01-09 23:43] chenba commented on #3900
Actually it's not as bad as it looked.  There's a `tab` object in scope at all the `sendEvent` call sites in `main.js`.

[2018-01-10 05:52] FatOrangutan opened #3954 "Screenshots 'forgets' that I have seen its tour"
I'm unsure if this coincides with updates to the browser (I'm on Nightly, and update infrequently), or updates to the Screenshots add-on or both, but clicking the page action after a browser start-up often launches that tour.

I have 'Clear history when Nightly closes' enabled, but I don't clear cookies, site prefs or OWD, which AFAIK, are the only ones known to cause webext to lose their settings

[2018-01-10 09:30] SoftVision-CosminMuntean commented on #3954
I haven't managed to reproduce this issue on latest Nightly 59.0a1 build. I have set all the settings like yours, but the tour wasn't displayed at browser restart. I have also downloaded an older Nightly version (2018-01-02 build), set the settings like yours and after updating the browser, the tour wasn't displayed. Even if I clear all the history and cookies (using "Ctrl + Shift + Delete" shortc

[2018-01-10 09:42] FatOrangutan commented on #3954
I uploaded the about:support from my main profile here: http://textuploader.com/dmddl
I have also seen this on a bare-bones profile that I have. Its about:support is here: http://textuploader.com/dmdd7

[2018-01-10 10:28] fangshih commented on #3500
After we test out all different icon proposals. We feel the first option infinity icon fits better as a small indicator. Less complicated. And once we have the icon right next to the indefinitely option as image 2 here. It will give a better connection to hint the user what is this symbol for.
**Overview**
![3500-33-shot-index-page-never-expires-copy](https://user-images.githubusercontent.com/4862

[2018-01-10 10:35] SoftVision-CosminMuntean commented on #3954
@FatOrangutan thanks for your quickly response!

I have installed all the add-ons that are displayed in your provided "about:support" page, but I still cannot reproduce the issue. The tour is not displayed even if I restart the browser 10 times.

Do you have any shots saved? If yes, the shots are also affected (deleted) after you restart the browser? Or only the tour is affected?
Also, can you ple

[2018-01-10 11:40] FatOrangutan commented on #3954
No problem, thanks for looking into this.

The shots aren't deleted upon restart, just the tour is shown.

The [second about:support](http://textuploader.com/dmdd7) that I included was very close to vanilla Nightly. But I will test more on completely fresh profiles and see if I can get reproducible steps.

[2018-01-10 13:04] SoftVision-EmilPasca opened #3955 "Screenshots overlay is broken after performing a selection and scrolling using the middle click button"
[Affected versions]:
- Firefox 57.0.4 and up
- Screenshots v19.2.0 and v28.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Open Firefox browser and navigate to any website.
2. Right click on the page and select "Take a Screenshot" option from the context menu.
3. Perform a selection and scroll to left/right using the middle click.
4. Observe the screensh

[2018-01-10 14:03] SoftVision-CosminMuntean opened #3956 "[Annotations] "Connection error" dialog is displayed for a moment if the "Save" button is clicked multiple times"
[Notes]:
- Also, after clicking multiple times on the "Save" button the image is no longer displayed.

[Affected versions]:
- Nightly 59.0a1
- Screenshots 28.0.0 dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshot

[2018-01-10 14:16] SoftVision-CosminMuntean commented on #3405
I have retested this issue on latest Screenshots 28.0.0 dev version and is no longer reproducible. The "Save" button works and the image is displayed.

[2018-01-10 14:16] #3405 closed

[2018-01-10 16:18] ianb commented on #427
We've done this in `test/server`

[2018-01-10 16:18] #427 closed

[2018-01-10 16:19] ianb commented on #585
I now [question whether anyone uses oembed](https://en.wikipedia.org/wiki/OEmbed#oEmbed_Clients)

[2018-01-10 16:21] ianb commented on #947
My feelings towards Redux have become cold and disinterested.

[2018-01-10 16:21] #947 closed

[2018-01-10 16:48] johngruen commented on #3954
Hey @FatOrangutan do you ever open your profile in Release FF, I've found that this happens sometimes if i go from Nightly to Release back to Nightly. I never filed a bug.

[2018-01-10 17:26] ianb commented on #2430
We never did npm shrinkwrap, and we've had a lot of problems with npm lockfiles. I think we should reconsider yarn.

[2018-01-10 17:28] ianb commented on #910
We might want to consider yarn per #2430

[2018-01-10 17:31] ianb commented on #1664
We've gotten rid of the proxies

[2018-01-10 17:31] #1664 closed

[2018-01-10 17:32] ianb commented on #1690
We have any strategy to fix this, I think it's just the way it is.

[2018-01-10 17:32] #1690 closed

[2018-01-10 17:33] ianb commented on #1766
I think we've solved this with the current UI, without preferences.

[2018-01-10 17:33] ianb commented on #1830
We aren't currently showing the favicon, so this isn't applicable.

[2018-01-10 17:33] #1830 closed

[2018-01-10 17:39] ianb commented on #2031
We have all the autodeploying happening now.

[2018-01-10 17:39] #2031 closed

[2018-01-10 17:42] ianb commented on #2122
This icon is no longer present (we removed the image copy)

[2018-01-10 17:42] #2122 closed

[2018-01-10 17:50] ianb commented on #1858
Fixed with #3907

[2018-01-10 17:50] #1858 closed

[2018-01-10 17:51] ianb commented on #2396
After all this time... I think the alerts are okay.

[2018-01-10 17:51] #2396 closed

[2018-01-10 17:51] #2418 closed

[2018-01-10 17:52] ianb commented on #2420
This is too hard and too dangerous given the potential benefits.

[2018-01-10 17:52] #2420 closed

[2018-01-10 17:53] ianb commented on #2424
We have a lot of reasons we need to do inline styles.

[2018-01-10 17:53] #2424 closed

[2018-01-10 17:54] ianb commented on #2477
We did this, though we have new future plans that will be easier than this.

[2018-01-10 17:54] #2477 closed

[2018-01-10 17:59] ianb commented on #2533
This seems fine as it is.

[2018-01-10 17:59] #2533 closed

[2018-01-10 17:59] ianb commented on #2541
We have a different approach in mind using FxA.

[2018-01-10 17:59] #2541 closed

[2018-01-10 18:01] ianb commented on #2639
We should re-test this given the new more resilient authentication we have in place.

[2018-01-10 18:03] ianb commented on #2646
We've dropped this versioning scheme.

[2018-01-10 18:03] #2646 closed

[2018-01-10 18:18] ianb commented on #2728
We're doing this

[2018-01-10 18:18] #2728 closed

[2018-01-10 18:19] ianb commented on #2768
We've gone back and forth a bit on this... I think we actually do this correctly now.

[2018-01-10 18:19] #2768 closed

[2018-01-10 18:21] ianb commented on #2811
Huh, still not fixed, despite a few iterations on this.

[2018-01-10 18:22] ianb commented on #2861
Eh, none of these worked, only localized builds seem to work reliably.

[2018-01-10 18:22] #2861 closed

[2018-01-10 18:23] ianb commented on #2865
We removed all fanciness around image onload

[2018-01-10 18:23] #2865 closed

[2018-01-10 18:25] ianb commented on #3032
With #3953 we will stop using export_mc

[2018-01-10 18:25] #3032 closed

[2018-01-10 18:26] ianb commented on #3013
I don't think we care anymore, the migrations happened however they happened and they are done!

[2018-01-10 18:26] #3013 closed

[2018-01-10 18:27] ianb commented on #3000
We're updated now

[2018-01-10 18:27] #3000 closed

[2018-01-10 18:29] ianb commented on #2946
Since we are only in the pageAction menu now, this probably isn't an issue anymore.

[2018-01-10 18:29] #2946 closed

[2018-01-10 18:39] ianb commented on #3280
We removed the browser action code, and this error is gone.

[2018-01-10 18:39] #3280 closed

[2018-01-10 18:40] ianb commented on #3335
I believe page timings (for web pages) are working now.

[2018-01-10 18:40] #3335 closed

[2018-01-10 18:41] ianb commented on #3360
Looks like we're doing this now

[2018-01-10 18:41] #3360 closed

[2018-01-10 18:42] ianb commented on #3420
We should verify this in Nightly since the WebExtension bug has been closed.

[2018-01-10 18:47] ianb commented on #3511
This is magic stuff, I don't think we want to go there.

[2018-01-10 18:47] #3511 closed

[2018-01-10 19:14] chenba commented on #2811
FWIW when I `export NODE_ENV=production && make server` locally, I'd get bundles that do not produce that warning.

[2018-01-10 21:43] ianb opened #3959 "Unexpected attributes should not be errors in shot.js in prod"
The errors maybe kind of make sense in testing (though they haven't caught any errors for me in a very long time). Instead attributes should be warned about but ignored.

[2018-01-10 22:10] LittTee opened #3960 ""My Shots" not loading"
The My Shots page either shows that it's loading and never does, or it loads with errors when I refresh.

The issue occurs on Firefox 57.0.4 as well as Nightly. Restarts did not fix the issue for me

<img width="1300" alt="screen shot 2018-01-10 at 1 53 58 pm" src="https://user-images.githubusercontent.com/35313617/34798203-f61dea1c-f60f-11e7-8980-318ef15366fa.png">
<img width="1042" alt="screen s

[2018-01-10 22:19] chenba commented on #3960
@LittTee Thanks for filing the issue.  It is already on our radar and we are working to fix it.

[2018-01-10 22:35] chenba commented on #3960
@LittTee It's been fixed.  I'm closing this issue now.  Thanks again for reporting it.

[2018-01-10 22:35] #3960 closed

[2018-01-10 22:36] LittTee opened #3961 "Can't take shots of non-standard webpages"
I'm attempting to use screenshots to capture this page (https://addons.mozilla.org/en-US/firefox/collections/mozilla/trending-add-ons/?utm_source=email&utm_medium=email&utm_campaign=desktop&utm_content=emlear_6) but got an error (below), even though the screenshot menu was available (I know that the menu doesn't even appear when on a page like about:addons and that's the signal to me that it won't

[2018-01-10 22:39] ianb opened #3962 "Check ?rev when serving static files"
We encountered an issue where an old JavaScript file got cached under a new revision, due to race conditions in the deployment (e.g., someone gets a new app page, but when getting the JavaScript they get routed to an old app server).

I think a simple and fairly safe fix would be to check the `?rev`, and if it doesn't match what we expect, then don't let the response be cached. Then everything wil

[2018-01-10 22:49] ianb commented on #3634
Duplicate of #2352

[2018-01-10 22:49] #3634 closed

[2018-01-10 22:51] ianb commented on #3671
We did this, and it is recently deployed

[2018-01-10 22:51] #3671 closed

[2018-01-10 22:53] ianb commented on #3696
This is part of the current annotation scope of work, but I don't think this ticket has been used to track that, closing as a result.

[2018-01-10 22:53] #3696 closed

[2018-01-10 22:56] ianb commented on #3730
Given ship2gecko (#3953) has this feature, I think we'll go that direction and track it in that bug.

[2018-01-10 22:56] #3730 closed

[2018-01-10 22:57] ianb commented on #3752
Duplicate of #119

[2018-01-10 22:57] #3752 closed

[2018-01-10 22:57] ianb commented on #3753
Given #3953 and changing to ship2gecko, I think we should not worry about this (or pick it up after the change)

[2018-01-10 22:57] #3753 closed

[2018-01-10 23:00] chenba commented on #3961
@LittTee You should be able take shots of other .org pages; addons.mozilla.org is special (see comment below).  The settings pages aren't possible.

https://github.com/mozilla-services/screenshots/blob/99bf1715bda4626c95cd02ae7c8445d2157da0f4/addon/webextension/background/main.js#L173-L176

[2018-01-10 23:00] #3961 closed

[2018-01-10 23:13] ianb opened #3963 "Look into bots that handle issue assignment"
When a contributor wants to take a ticket we can't assign it to them. There are some bots (I think Stylo or Rust uses one?) that watches for comments to claim a ticket, and handles the assignment.

[2018-01-10 23:14] ianb commented on #3915
For reasons I don't entirely understand we can't assign tickets to people outside the repo's list (I opened #3963 to figure it out). Hopefully anyone else who looks at this ticket will see that @shreyanshdwivedi is planning to work on it

[2018-01-10 23:17] ianb commented on #3946
Related to #2778

[2018-01-10 23:59] ianb commented on #1615
Duplicate of #119

[2018-01-10 23:59] #1615 closed

[2018-01-11 03:26] scheinercc commented on #3555
Is this about instead of capturing a static image, to  optional capture a screencast and save it as e.g. animated gif?

[2018-01-11 03:51] FatOrangutan commented on #3954
No, I don't have release FF.

That's at least somewhat similar to what I'm experiencing. Thanks for letting me know. I will see if I can narrow down the issue.

[2018-01-11 14:12] SoftVision-CosminMuntean opened #3964 ""Download canceled by the user" error is wrongly displayed when you cancel saving the selection to a specific location"
[Notes]:
- This issue is only reproducible if the "Always ask you where to save files" option is checked.
- The issue is not reproducible if the shot is uploaded first.

[Affected versions]:
- Nightly 59.0a1
- Beta 58.0b15

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a profile where the "Always ask you where to save files" option is checked in "about:preferen

[2018-01-11 15:16] chenba commented on #3500
Since the expiration select is a good ol' `<select>`, I can't put an image in an `<option>`. (Setting a `background-image` didn't work either.)  However, I can append a UTF8 ∞.  Then for consistency I can also use that instead of the image on My Shots.  What do you think?

A more heavy handed alternative would be to replace that `<select>` list with an unordered list or a set of divs and use css a

[2018-01-11 15:41] chenba commented on #3500
@flodolo is using ∞ to mean forever fairly universal?

[2018-01-11 15:42] SoftVision-CosminMuntean commented on #2639
I have tested this issue with the "privacy.firstparty.isolate" pref set to "true" on latest Firefox 57.0.4 release and latest Nightly 59.0a1 build. Here are the results:
1. Firefox 57.0.4
- The "If you took this shot and cannot delete it, you may need to temporarily enable third party cookies from your browser’s preferences." warning is displayed and you cannot change the expiry date, edit the tit

[2018-01-11 15:47] flodolo commented on #3500
I can't find data about it. If possible, I would keep it in the string, so that a locale can remove it if they want.

[2018-01-11 16:42] #3830 closed

[2018-01-11 21:43] chenba commented on #3899
How and where do we view the A/B test results?

[2018-01-11 23:04] chenba commented on #1646
AFAIK copying images to the clipboard (outside of an addon) is not possible.  😕

[2018-01-12 17:20] #3922 closed

[2018-01-12 17:32] #3940 closed

[2018-01-12 18:42] #3900 closed

[2018-01-12 19:54] chenba commented on #3949
Looks like we cannot use [`actions`](https://seleniumhq.github.io/selenium/docs/api/javascript/module/selenium-webdriver/index_exports_ActionSequence.html) in our Selenium tests until https://github.com/SeleniumHQ/selenium/issues/4564 is resolved (and released with selenium-webdriver 4.0).

[2018-01-12 20:54] chenba commented on #3861
The title and original bug report mentioned Save, but in that use case, the user is immediately taken to the new tab for the shot page, so this issue isn't applicable there.

[2018-01-12 20:58] chenba opened #3968 "Use the Preview Image for Download or Copy to Clipboard when Possible"
We can't do this if the shot is a truncated full-page shot, but otherwise we can copy/download the preview image.

[2018-01-12 23:09] chenba commented on #3861
@youwenliang The "freezing" is from generating the image data.  It is not something we can avoid.  The code to hide the preview UI is actually called before the image generation and download/copy, but during normal execution, the browser doesn't get a chance to update the UI before it's blocked by the image generation.

We could try delaying the image generation until we know the preview UI's been

[2018-01-12 23:29] chenba opened #3969 "Ignore the PNG to JPEG Cutoff Limit for Download and Copy to Clipboard"
Maybe users are willing to trade some (ok, sometimes a lot of) memory/storage for some speed locally?  Image quality will be better as well.

[2018-01-15 10:02] Softvision-CristinaBadescu commented on #3922
I've tested this issue and is no longer reproducible for the width limit (40px) but is reproducible for a selection smaller that 40px **height**, using latest Firefox Screenshots v28.0.0 installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), on latest Nightly build 59.0a1 (2018-01-14), on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

@ianb, @chenba, conside

[2018-01-15 12:10] Softvision-CristinaBadescu commented on #3907
This issue is no longer reproducible on https://www.npr.org/ using Firefox Screenshots v28.0.0 (installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html)) on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

As for https://brightside.me/, at first look everything seems ok, but I've managed to reproduce this issue by following these steps:

1. Perform an automatical

[2018-01-15 12:43] pshem commented on #3809
This is a copy of #2390
Consider merging

[2018-01-15 14:36] Softvision-CristinaBadescu opened #3970 "Cannot perform an automatically selection around the "Cancel" button"
[Affected versions]:
- Nightly 59.0a1
- Screenshots 28.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref set to "false" and "extensions.legacy.enabled" pref set to "true".

- Have the latest Firefox Screenshots v28.0.0 installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html) on a new

[2018-01-16 05:09] tomrittervg commented on #3651
3.22.1 has been released

[2018-01-16 14:13] chenba commented on #3922
It's by design that the drag selection does not start until the mouse has traveled more than 40px.  The bug here is that the pre-selection on the element where the mousedown occurred is not canceled once the user started dragging.

@Softvision-CristinaBadescu I'll file another bug for it.  Thanks.

[2018-01-16 14:29] chenba opened #3971 "Pre-Selection When Mouse Button is Released Outside of Pre-Selected Element"
When a user starts dragging the mouse cursor, the UI does not start the drag selection box until the mouse has traveled a distance >40px.  In the case where the mousedown occurs near one of the edges of an element on the inside, and then the user drag the mouse across the edge in less than 40px and release the mouse button, a pre-selection is made even though the pre-selected element is no longer

[2018-01-16 16:46] marniepw commented on #3919
FIxed latest Nightly.

[2018-01-16 16:46] #3919 closed

[2018-01-16 16:51] oremj commented on #3924
How long should we keep objects around after they are deleted?

[2018-01-16 16:52] wresuolc commented on #3924
Lets do 2 weeks

[2018-01-16 17:04] oremj commented on #3924
I've turned on versioning and applied the following lifecycle rule:

![image](https://user-images.githubusercontent.com/45590/35001689-25a38d10-fa9c-11e7-9147-82f6f6f5834c.png)

[2018-01-16 17:07] oremj commented on #3924
I've also applied this replication policy:

![image](https://user-images.githubusercontent.com/45590/35001828-97432e76-fa9c-11e7-9104-4403e362edfd.png)

[2018-01-16 17:11] ianb commented on #3970
There's some heuristics and caching around the selection boxes, I'm guessing that's related, because it seems to matter how you approach the target area.

[2018-01-16 17:13] ianb commented on #3964
The fix for this is to catch the specific error that happens when a user cancels a download, and ignore that error.

[2018-01-16 17:15] marniepw commented on #3963
Sounds like more research is needed...

[2018-01-16 17:24] oremj commented on #3924
New objects are being replicated now. I'm currently back filling the replica bucket with old objects.

[2018-01-16 17:24] #3924 closed

[2018-01-16 17:54] 6a68 commented on #3968
I wonder if we could generate a lower-quality image for the preview, to improve perf of the preview step. Not sure this would actually help, if the starting point is a huge canvas that takes a long time to process.

[2018-01-16 21:59] #3907 closed

[2018-01-16 22:10] chenba commented on #3500
Reopening this because there are some style changes that UX wanted.

[2018-01-16 22:42] ianb commented on #3949
Here's some suggestions:

1. Select an element using the auto-selector, save that
2. Copy a selection to the clipboard
3. Download a selection (assuming the download action works okay with Selenium)
4. Attempt to save while the server is not available
5. Use auto-select, then cancel the selection with a background click
6. Click the page action twice to start and cancel
7. Navigate to My Shots (te

[2018-01-17 09:01] Softvision-CristinaBadescu commented on #3907
This issue is no longer reproducible using Firefox Screenshots 28.0.0 installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), on latest Nightly build 59.0a1 (2018-01-16), on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

[2018-01-17 09:09] johngruen opened #3973 "Highlight annotations icon"
So that users know it exists, we should add a little highlight to the new annotations icon the first time it launches.

I'd prefer if the highlight had the following:
- it should not include text
- it should point directly to the button

Here's a terrible proposal:
![screen shot 2018-01-17 at 10 05 02 am](https://user-images.githubusercontent.com/3323249/35034418-66c40c8e-fb6e-11e7-9c43-8fcba42582

[2018-01-17 12:25] johngruen opened #3974 "[Annotations] Pen draws from previous location if mousedown happens outside of shot"
If you mousedown outside of a shot, the pen will draw a line from the previous last pixel or `(0,0)` on the initial draw. Gif below shows the issue:

![pen-enter-bug](https://user-images.githubusercontent.com/3323249/35042686-ec593732-fb89-11e7-9991-25e3b8d621c3.gif)

[2018-01-17 16:37] johngruen commented on #3949
1, 2, 3, 4, 7?

[2018-01-17 18:12] ianb commented on #2457
We haven't needed this in practice, so closing until/unless we find we do need it.

[2018-01-17 18:12] #2457 closed

[2018-01-17 18:24] oremj commented on #3379
It is set to `1` in dev.

[code]

[2018-01-17 18:25] oremj commented on #3818
Yep, I just need to know what they should be set to.

[2018-01-17 18:30] ianb commented on #3631
We should do this as a part of (or a followup to) #3305

[2018-01-17 18:36] ianb commented on #3117
This seems to be working fine how it is right now.

[2018-01-17 18:36] #3117 closed

[2018-01-17 18:40] ianb commented on #3107
I think this was related to our now-removed proxy code, we're not seeing it anymore.

[2018-01-17 18:40] #3107 closed

[2018-01-17 18:40] ianb commented on #3106
We're not seeing this anymore

[2018-01-17 18:40] #3106 closed

[2018-01-17 18:55] ianb commented on #2421
Because we don't do much updating, this doesn't feel important. Someone would have to work pretty hard to find this bug now, and it's just a harmless unfunctional interface.

[2018-01-17 18:55] #2421 closed

[2018-01-17 19:03] ianb opened #3977 "Review all exceptions in .eslintrc.yml"
We have a lot of things set to `warn` of `off` in `.eslintrc.yml`. We should discuss whether we should turn any of these on. Since we are using the Mozilla plugin, each exception we have represents something typically Mozilla rules enforce.

[2018-01-17 21:42] wresuolc commented on #1498
I see `report-uri /__cspreport__;` in the CSP already.  Is this already done or is this talking about something else?

[2018-01-17 21:44] wresuolc opened #3979 "Audit screenshots.firefox.com CSP"
see comment further down

[2018-01-17 21:52] wresuolc commented on #2352
I no longer see this header.  Can you still see this?

[2018-01-17 21:54] wresuolc opened #3980 "Audit screenshots.firefoxusercontent.com CSP"
This is the CSP for a random screenshot I took.  This is for a .png:

[code]

I thought this domain was only for user images.  If that's wrong, my questions below are probably off also, but assuming only images:

- Why would we need images from stable.dev.lcip.org?
- Do we actually serve any analytics off this domain? (should GA be on this list?)
- what is that nonce script?
- If this is only imag

[2018-01-17 21:55] wresuolc commented on #3818
It looks like the domain already has STS, PKP, and CSP headers for non-404 URLs.  This would just be about putting those same headers on the 404 page.  Note #3980 may touch this also

[2018-01-17 22:12] oremj commented on #3818
For reference, they are:

[code]

[2018-01-17 22:32] pdehaan commented on #2352
@wresuolc: I can still see the `X-Powered-By` header for the homepage and shot details page on screenshots.dev.mozaws.net:

[code]

[code]

[code]

[2018-01-17 23:02] oremj commented on #3818
@clouserw can you review https://github.com/mozilla-services/cloudops-deployment/pull/1495? That PR should fix this issue.

[2018-01-18 01:21] oremj commented on #3818
I merged the PR and deployed it to dev. Does https://screenshotsusercontent.dev.mozaws.net/pagethatdoesnotexist looks good?

[2018-01-18 01:50] wresuolc commented on #3818
Yeah, that looks right to me

[2018-01-18 01:52] wresuolc commented on #2352
Hmm, I see it too (on https://screenshots.firefox.com ).

[2018-01-18 09:50] fangshih commented on #3973
Photon happens to have highlights badge icon. Here is the mockup look like. It works pretty well with the icon here. What do you think?

![annotate new](https://user-images.githubusercontent.com/4862573/35091480-bf0a833c-fc77-11e7-9fae-c28d98da163a.png)

[2018-01-18 12:09] Softvision-CristinaBadescu opened #3981 "The selection is wrongly saved if you choose the "Copy" option using keyboard navigation"
[Notes]:
- This issue is not reproducible for selections smaller than 400px width.
- Also, you'll encounter the "catcher is not defined" error notification from #2996 issue.
- This issue is also reproducible for manual selections.

[Affected versions]:
- Nightly 59.0a1
- Screenshots 28.0.0 dev version

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Have the "xpins

[2018-01-18 12:18] Softvision-CristinaBadescu commented on #2996
I've also reproduced this error using Firefox Screenshots v28.0.0 installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), by following the steps from issue #3981.

[2018-01-18 16:39] #2194 closed

[2018-01-18 16:40] #2248 closed

[2018-01-18 16:41] johngruen commented on #2150
Jared and Ian to discuss this at some point in the future.

[2018-01-18 16:42] johngruen commented on #1844
I am closing this, it's not gonna happen

[2018-01-18 16:42] #1844 closed

[2018-01-18 16:43] #1004 closed

[2018-01-18 16:44] #585 closed

[2018-01-18 16:45] #2430 closed

[2018-01-18 16:46] johngruen commented on #2520
@SoftVision-CosminMuntean can you reverify

[2018-01-18 16:47] johngruen commented on #2554
@6a68 have you been continuously looking at this since May 25th?

[2018-01-18 16:48] #2840 closed

[2018-01-18 16:52] johngruen commented on #2938
how do other sites handle this?

[2018-01-18 16:55] johngruen commented on #3123
So this is still a thing, i am going to dupe it to #3124 since it's the same issue (or has the same fix anyway)

[2018-01-18 16:55] #3123 closed

[2018-01-18 16:55] #3172 closed

[2018-01-18 16:56] johngruen commented on #3379
Let's verify an

[2018-01-18 16:56] #3379 closed

[2018-01-18 16:56] #3420 closed

[2018-01-18 17:20] Djfe opened #3982 "registrationInfo is undefined Error"
![2018-01-13_14-13-22](https://user-images.githubusercontent.com/5685512/35111703-21a77ef6-fc7c-11e7-910b-68e0c9c93b4e.png)

This happened on Januar 13th with the nightly from 13th or 12th or 11th. (sadly didn't write down the version number and forgot to report instantly)

EDIT: I just pressed the screenshot button and got the tutorial with this error on the bottomright.

Maybe it happened becaus

[2018-01-18 17:44] chenba opened #3983 "[Annotations] My Shots Should be Sorted By Last Modified"
When a user saves an edited shot, then go to My Shots, the edited shot is not the first in the list of shots.  It'd be more natural if the shots are sorted by most recently modified instead of most recently captured.

[2018-01-18 19:17] ianb opened #3984 "[Annotation] first crop resize has a lightbox artifact"
When you use the crop tool, the first time you resize a selection you get something like this:

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/44390/35114047-134e7572-fc49-11e7-84d7-39344183748f.png">

I'm guessing that there's a click event that needs to have its default action cancelled, but that's just a guess.

[2018-01-18 19:21] chenba opened #3985 "[Annotations] `TypeError: this.imageCanvas is null` on Edit Click After Canceling Edit"
#### STR

1. Start an edit session by clicking on the Edit button (pencil) while viewing a shot
1. Click on Cancel in the upper right
1. Click on the Edit button

#### Actual

The error `TypeError: this.imageCanvas is null` is displayed in the console

#### Expected

User enter into edit session without error.

#### Note

If I save the image, the error does not surface on the next time I click Edi

[2018-01-18 19:24] chenba commented on #3974
According to @niharikak101's comment in #3892, this should be fixed.

[2018-01-18 19:24] ianb opened #3986 "[Annotation] drawing tool acts weird if you double click and click to drag on the image"
If I use the drawing tool for a while (just scribbling) I eventually get into a state where the tool will only draw a short distance and then stops (probably one mousemove). The mouse cursor also changes to the default pointer cursor.

I don't know exactly what triggers it. I tried right-clicking, and other things, but none of them put it into this particular state. Given this I'm guessing its a t

[2018-01-18 19:25] #3970 closed

[2018-01-18 19:25] #3500 closed

[2018-01-18 19:31] chenba opened #3987 "[Annotations] Color Picker Should Close on Tool Selection"
#### STR

1. Start editing a shot
1. Click the color picker tool icon to open the picker
1. Click on the highlighter to select it

#### Actual

The color picker remained open.

#### Expected

The color picker closes when I select a tool.

[2018-01-18 19:51] ianb opened #3988 "Look at about:memory"
Apparently in Nightly there is [about:memory](https://bugzilla.mozilla.org/show_bug.cgi?id=1430317) support for WebExtensions. We should see what we look like!

[2018-01-18 20:31] ianb opened #3989 "[Annotation] Verify the black highlighter fully obscures the image"
People will probably use the black highlighter to redact things in images. We should make sure that it really does turn everything it touches into #000000. If it turned some things into, say, #010101, then it would appear to work but could be undone.

[2018-01-18 22:19] chenba commented on #3981
I cannot reproduce this with latest Screenshots.

[2018-01-18 22:46] chenba commented on #3981
Sorry, I misunderstood the STR.  I can reproduce it.

[2018-01-18 23:55] chenba commented on #3981
This bug also highlights an inconsistency.  With full-page and visible shots, the enter key does not have a default action, whereas the enter key would trigger the primary button's action (Save or Download) for selection shots.

[2018-01-19 12:23] SoftVision-CosminMuntean commented on #2520
This issue is no longer reproducible on latest Nightly 59.0a1 build with Screenshots 25.0.0 and also on Screenshots 28.0.0 dev version. Tested on Windows 7 x64, Mac 10.12 and Ubuntu 14.0.4 x64.

Now if you manually navigate to "My Shots" page and you never used Screenshots, the "My Shots" page is loaded and the "Looking for your shots..." message is displayed. After a few seconds the page is reloa

[2018-01-19 12:23] #2520 closed

[2018-01-19 12:55] Softvision-CristinaBadescu commented on #3970
This issue is no longer reproducible using Firefox Screenshots v28.0.0 installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), using latest Nightly build 59.0a1 (2018-01-18), on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.
However, the similar behavior mentioned in the first Note is still occurring, but I'm not sure if there is a way to fix this.

[2018-01-19 14:54] chenba commented on #2896
Does this still `needs:UX` or at least copy for the new message? @johngruen?

[2018-01-19 14:59] SoftVision-CosminMuntean opened #3993 "[Annotations][Crop] The "Confirm" and "Cancel" buttons don't have tooltips"
[Affected versions]:
- Nightly 59.0a1
- Screenshots 28.0.0 dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 28.0.0 dev version installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-loc

[2018-01-19 15:00] SoftVision-CosminMuntean opened #3994 "[Annotations][Enhancement] The image should be displayed in the center of the page"
[Affected versions]:
- Nightly 59.0a1
- Screenshots 28.0.0 dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 28.0.0 dev version installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-loc

[2018-01-19 16:20] chenba commented on #2639
I just tested this with Nightly and Developer Edition.  My Shots work with the pref in either state.

[2018-01-19 16:20] #2639 closed

[2018-01-20 00:24] chenba commented on #3861
@johngruen @wresuolc I just gave this a spin with an animated SVG spinner.

While `canvas.toDataURL()` is happening, the browser does not animate the spinner image.  So for downloads, the users will see a still image.  Users will see a bit of animation between the end of `canvas.toDataURL()` and switching to the new tab on saves.  I suggest that we don't use animation.

There's also the threshold

[2018-01-20 00:30] chenba commented on #3861
Here's the full page capture user timing for the last 30 days btw:

![image](https://user-images.githubusercontent.com/198055/35177658-a579aa40-fd46-11e7-9cc6-ab7d15740cfb.png)

[2018-01-22 09:52] Softvision-CristinaBadescu opened #3995 ""Saving your shot" page wrongly appears after clicking the "Back" button from the saved screenshot page"
[Notes]:
- For smaller saved screenshots the "Back" button is greyed out in most of the cases. This seems to be the expected behavior.
- This issue is also reproducible for the "Edit" screenshot page. Users might incline to select "Back" button or "Backspace" key in order to return to the saved screenshot page, without making any changes but they will be returned to the "Saving your shot" page.

[

[2018-01-22 15:57] wresuolc commented on #3861
Google says "Beyond 1000 milliseconds (1 second), users lose focus on the task they are performing." in their RAIL guidelines, and 20% of our users are hitting that, so, that seems like something we should try to fix.

Additionally, "For actions that take longer than 50ms to complete, always provide feedback."

So, we would want an animation if it goes over 50ms.  All full page shots would be a go

[2018-01-22 16:43] wresuolc opened #3996 "Disable uploading on ESR"
Firefox 60 is an ESR.  To avoid problems down the line, we'd like to disable the ability to save screenshots to our servers on ESR releases (note: just ESR, not plain Firefox 60).  The screenshots functionality will still be there, but the Save button will be omitted.

From our discussion:
- We should add a pref to do this and convert our current disable-save-button logic to use it
- Add ESR detec

[2018-01-22 16:59] wresuolc commented on #2554
If this comes back up we'll handle it on a per-case basis.

[2018-01-22 16:59] #2554 closed

[2018-01-22 18:13] ianb opened #3997 "[Annotation] Do a metrics review"
We've looked at metrics on annotation during the individual patches, but we should do a final check for the events, and check that everything is in METRICS.md

[2018-01-22 18:25] ianb opened #3998 "Prototype Chrome add-on"
A couple thoughts:

- [x] Build Chrome add-on separately, or as a separate build option
- [x] Put some Chrome flag into buildSettings
- [x] There is some kind of dead-ish logic for using the Chrome screen capture API ([tabs.captureVisibleTab](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs/captureVisibleTab)) that needs reviving – the capture takes place in the background page i

[2018-01-22 19:17] 6a68 commented on #3996
We can detect ESR-hood via `AppConstants.MOZ_UPDATE_CHANNEL == 'esr'`. No need to set a pref.

[2018-01-22 19:19] ianb commented on #3996
It feels like the pref is generally useful (especially given the enterprise policy stuff that's being deployed)

[2018-01-22 19:32] 6a68 commented on #3996
Are you thinking of a separate pref to just disable uploads, like `extensions.screenshots.upload-disabled`? If so, maybe that could be a separate bug.

I'm proposing that uploads always be disabled if a Firefox is on the ESR channel, which seems like the goal of this bug.

[2018-01-22 19:33] 6a68 commented on #3996
Ah, the pref is mentioned explicitly in the description for this bug, so I'll just add it :+1:

[2018-01-22 20:30] chenba commented on #3831
This can be closed now. 🎉

[2018-01-22 20:30] #3831 closed

[2018-01-22 20:48] chenba opened #4000 "[Annotations] In Progress Indicator for Annotation Saves"
For large images, saving takes a few seconds.

[2018-01-22 23:05] chenba commented on #3861
We should work on #3968 first.  It's a lower hanging fruit that'd help with some of the use cases.

I'll see if we can use a web worker.

[2018-01-23 09:54] fangshih commented on #3973
Hey~ I've created two kinds of assets for the badge. One PNG one SVG. Let me know if you need any other format or size.

**Badge Assets**
[PNG](https://github.com/mozilla/testpilot-assets/blob/master/Firefox_Screenshots/Annotation/Assets/annotation-badge.png)
[SVG](https://github.com/mozilla/testpilot-assets/blob/master/Firefox_Screenshots/Annotation/Assets/annotation-badge.svg)

Here is the measu

[2018-01-23 15:16] chenba commented on #3956
@ChenMorpheus Do we have styles for disabled primary buttons on the web site (e.g. the Download or Save button in the screen recording above)?

[2018-01-23 16:45] johngruen commented on #4000
Can we just use the existing loading component

[2018-01-23 16:47] johngruen commented on #3995
I think this is a dupe, let's try to close this, but maybe @ianb could find the dupe. also, can't we wipe push state?

[2018-01-23 16:49] johngruen opened #4003 "What happens if we add a permission to the webext manifest"
"knowledge is power" -john g, 2018

[2018-01-23 16:50] 6a68 commented on #4003
if we add a new permission to the webextension, will users be prompted to accept the new permissions, as with existing userland webextensions? or will the change be transparently accepted, because we're a system addon (or, because we're an embedded webextension)?

[2018-01-23 16:59] johngruen commented on #3982
Keep us posted if you are able to reproduce the error.

[2018-01-23 16:59] johngruen commented on #3982
@SoftVision-CosminMuntean will also try to repro

[2018-01-23 17:04] #3855 closed

[2018-01-23 18:56] Djfe commented on #3982
I might not be able to since it happened randomly.
But if I find anything, then you'll get the info :)

[2018-01-24 00:28] chenba commented on #3861
@wresuolc animation was animating when a background script is doing the `toDataURL()`.

Using the preview image for download or copy to clipboard (#3968) was very fast when I tried it, so I pulled that into the current sprint and created a PR.

With that in place, then perhaps we'll only show the spinner and use a background `toDataURL()` when it's a truncated full-page shot.

Spinner image still

[2018-01-24 01:07] 6a68 opened #4005 "optionally disable non-error notifications"
From Asa in slack: "when I copy to clipboard I get a toast notification saying it was copied. is there a way to turn that off? I don't need to see it every time I take a screenshot."

[2018-01-24 01:11] 6a68 commented on #4005
more from Asa :-)

[2018-01-24 03:14] fangshih commented on #3956
Hey @chenba  I've put a button list together. So for the disabled primary button, that should be 40% Opacity. Let me know if you have any questions.
![screenshot button status](https://user-images.githubusercontent.com/4862573/35312639-6dca4294-00f7-11e8-816d-c9177fc19d33.png)

[2018-01-24 16:06] #3936 closed

[2018-01-24 16:06] #3984 closed

[2018-01-24 16:11] chenba opened #4007 "[Annotations] Drag to Move Crop Selection Resizes Box Against Borders"
#### STR

1. Start cropping tool
1. Drag to select an area
1. Drag the entire selection box towards the left or right border of the shot

#### Result

The selection box is resized as the user continues to drag against the border.

#### Expected

The selection box simply stop moving once it's aligned to the border.

[2018-01-24 16:11] jvehent commented on #3476
ping?

[2018-01-24 16:27] #3996 closed

[2018-01-24 16:57] wresuolc commented on #3954
@SoftVision-CosminMuntean - can you narrow this down? thanks

[2018-01-24 17:01] wresuolc commented on #3763
Thanks for filing this.  The way Screenshots is working today is as intended.  It won't take shots of non-loaded content.

[2018-01-24 17:01] #3763 closed

[2018-01-24 17:02] wresuolc commented on #3761
This is working as designed right now.

[2018-01-24 17:02] #3761 closed

[2018-01-24 17:37] #3981 closed

[2018-01-24 18:38] chenba opened #4008 "Rogue Copy to Clipboard Button(?)"
#### STR

1. Resize your browser window so that there's an horizontal scrollbar (imgur.com works)
2. Move the horizontal scrollbar to right
3. Start screenshots and drag to select an area
4. Move the right border of the selection box as close to the right edge of the page as possible

#### Actual Result

The copy to clipboard button is at the bottom right of the selection box while the rest of the

[2018-01-24 21:21] ianb commented on #3953
Let's put this on hold, as we might leap-frog it with other things coming out of the GitHub integration group

[2018-01-24 21:21] #3953 closed

[2018-01-24 22:18] chenba commented on #3995
This is caused by a race condition between `pushState()` in the `creating` page and the addon updating the tab's URL after the shot upload.  (It also makes the bug difficult to reproduce locally.)

I will create another issue with its own PR to follow this, because the fix in the addon needs to be released first.

[2018-01-24 22:30] chenba opened #4010 "Remove `history.pushState()` from /creating"
This follows #3995 (PR #4009).  Do not merge the patch for this until the fix for #3995 is released.

[2018-01-25 02:32] kpcyrd opened #4012 "<title> is automatically submitted when uploading screenshot"
I originally reported this over irc in #security and was asked to file an issue:

I noticed when taking a screenshot and uploading it to screenshots.firefox.com, the <title> of the page I screenshoted is automatically submitted and used as a title on screenshots.firefox.com. While sensitive information on the screen can be avoided using the cropping tool, it's non obvious that the <title> is going

[2018-01-25 09:44] Softvision-CristinaBadescu opened #4013 "[Nightly] Tab crashes when performing automatically selections"
[Notes]:
- This issue is not reproducible for manual selections.
- I've filed this issue in Bugzilla, here: [1433056](https://bugzilla.mozilla.org/show_bug.cgi?id=1433056).

[Regression]:
- I've managed to find a regression window using Mozregression tool. Here are the results:
Last good revision: b529d05259c5f20af811903842655c5061ffb951
First bad revision: 60d339bdf87efaecb07bb108326d0c70a513aa4b

[2018-01-25 14:08] johngruen commented on #4013
Just came here to report this as well...I can repro on OSX and windows

[2018-01-25 15:06] SoftVision-CosminMuntean commented on #3669
I have managed to reproduce this issue only on a MacBook Pro (Retina, 13-inch, Early 2015). It seems that the issue is not reproducible on a iMac, Windows and Linxux.

Here is a screen recording with the issue: https://goo.gl/xzMqYU

[2018-01-25 15:29] SoftVision-CosminMuntean opened #4015 "[Annotations][Intermittent] The cropped shot looks blurry"
[Notes]:
- I am not able to reproduce this issue for every cropped shot so you might need to crop multiple shots in order to encounter it.

[Affected versions]:
- Nightly 60.0a1
- Screenshots 28.0.0 dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is

[2018-01-25 15:53] #3956 closed

[2018-01-25 16:26] gene1wood opened #4017 "Loading screenshots page triggers repeated Firefox error alert messages"
I'm not entirely sure how to describe this but here's a video of it happening. When browsing to this screenshot I took, Firefox launches a Screeshots-specific error window.

[![Firefox Screenshots bug](https://img.youtube.com/vi/5FYPLSCEsZ8/0.jpg)](https://www.youtube.com/watch?v=5FYPLSCEsZ8)

[2018-01-25 16:27] gene1wood commented on #4017
If you understand what is going on under the hood to cause this bug, please feel free to modify the title of this issue with something more descriptive as I'm unsure how to accurately describe what's going on here.

[2018-01-25 16:34] johngruen commented on #4017
@gene1wood what version of FF are you in

[2018-01-25 16:36] johngruen commented on #4013
This is upstream of us but i am going to leave it open and untriaged to track.

[2018-01-25 16:41] #1849 closed

[2018-01-25 16:42] ianb opened #4018 "Screenshot crop is misaligned on specific page"
Copied from [Bug 1432755](https://bugzilla.mozilla.org/show_bug.cgi?id=1432755)

User Agent: Mozilla/5.0 (X11; Linux x86_64; rv:58.0) Gecko/20100101 Firefox/58.0
Build ID: 20180118215408

Steps to reproduce:

* Deploy [the page](https://bugzilla.mozilla.org/attachment.cgi?id=8945048) attached on a local server (apache, or other, does not matter) (it fails with other pages on localhost too, but not

[2018-01-25 16:42] #3112 closed

[2018-01-25 16:47] johngruen commented on #3935
Let's just make the white be a mostly opaque overlay and call this done.

[2018-01-25 16:50] johngruen commented on #3986
@SoftVision-CosminMuntean can you see how long it takes you to repro this?

[2018-01-25 16:51] nicofrand commented on #4018
I tried reducing it to a small case but it seems to appear only on localhost and even when removing most of the DOM nodes the issue persisted.

[2018-01-25 16:52] #3989 closed

[2018-01-25 16:53] #3993 closed

[2018-01-25 16:53] johngruen commented on #3997
YEAH!

[2018-01-25 16:57] #3943 closed

[2018-01-25 17:02] gene1wood commented on #4017
@johngruen 57.0.4

@6a68 Here's that console output (I can provide in a different format if desired)

![workspace 1_076](https://user-images.githubusercontent.com/1134034/35401448-5c57030a-01ae-11e8-819d-ebb6c2eeb85a.png)

[2018-01-25 17:04] #3995 closed

[2018-01-25 17:26] 6a68 opened #4019 "Document bug labels"
There was an email thread about adding some new bug labels, but I don't think the new labels are documented. Maybe in the readme?

[2018-01-25 22:35] alex-mayorga commented on #3805
¡Hola!

Ended up here researching for https://support.mozilla.org/questions/1201579

FWIW while adding/removing the button via @wresuolc's hack in quick succession, the doorhanger menu, is that a thing?, ends up detaching itself from the "..." button. Please see https://www.screencast.com/t/etRvd6cT

Hope this gets fixed soon.

¡Gracias!
Alex

[2018-01-26 03:31] johntyree commented on #2491
Is there something that prevents us from having user-configurable shortcuts? Then you can pick whatever convoluted default you'd like and users that care can solve their problems for themselves.

[2018-01-26 04:57] jakemagee opened #4021 "Site URL not shown in image"
Using Ubuntu Firefox 58.0, it appears that the site address / URL is not shown in the screenshot.  I can see how this might be a useful feature some times, but for other times its a necessity.  Could we get an option to enable / disable this?

[2018-01-26 07:01] fangshih opened #4022 "[Annotations] Color picker visual polish"
Would be great if we can polish the style of color picker panel
Here is the current build.
![screen shot 2018-01-26 at 10 35 16 am](https://user-images.githubusercontent.com/4862573/35428172-99d20554-02a8-11e8-847c-fde62dd9f8b4.png)

Visual update version.

![color](https://user-images.githubusercontent.com/4862573/35428338-67a798c2-02a9-11e8-81d0-8ee437ffdeec.png)

Once the color circle got selec

[2018-01-26 08:56] Softvision-CristinaBadescu commented on #4013
I'm going to close this issue since it has been fixed in bug #[1433056](https://bugzilla.mozilla.org/show_bug.cgi?id=1433056) and is no longer reproducible using Firefox Screenshots v25.0.0 or Firefox Screenshots v28.0.0 dev installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), using latest Nightly build 60.0a1 (2018-01-26), on Windows 10x64, Mac 10.12.6 and A

[2018-01-26 08:56] #4013 closed

[2018-01-26 09:00] SoftVision-CosminMuntean commented on #3956
This issue is no longer reproducible on latest Firefox Screenshots 28.0.0 dev version. Tested using latest Nightly 60.0a1 build on Windows 7 x64, Mac 10.12 and Arch Linux

[2018-01-26 09:04] SoftVision-CosminMuntean commented on #3993
I have retested this issue using latest Firefox Screenshots 28.0.0 dev version and the issue is no longer reproducible. The "Confirm" and "Cancel" buttons have tooltips.
Tested on Windows 7 x64, Mac 10.12 and Arch Linux.

[2018-01-26 09:18] SoftVision-CosminMuntean commented on #4017
@gene1wood can you reproduce this issue only for the screenshots taken on "www.paypal.com" website? Or is also reproducible for screenshots taken on other websites?

Can you please retest this issue on safe mode to eliminate add-ons as a possible cause? If it's not reproducible in safe mode, can you provide the list with all enabled add-ons? I will try to install them and see which add-on caused t

[2018-01-26 12:24] SoftVision-CosminMuntean commented on #4018
I have managed to reproduce this issue using the provided page on latest Firefox 58.0 release on Windows 7 x64.  But, the issue is not reproducible on latest Nightly 60.0a1 build.

I think that this issue is similar with #3907 which was fixed in the latest Screenshots versions.
@nicofrand can you retest this on latest Nightly 60.0a1 build and confirm that the issue is fixed?

[2018-01-26 13:20] SoftVision-CosminMuntean commented on #3954
Unfortunately I haven't manage to reproduce this issue. I have tested this with latest Nightly 60.0a1 build using different settings regarding cookies & history, but the Screenshots Tour was displayed only the first time when I have click the "Take a Screenshot" from "Page Actions" menu.

Even if I opened older versions of Nightly with the same profile the Screenshots tour is not displayed if was

[2018-01-26 14:30] FatOrangutan commented on #3954
Yes, it has happened a bunch of times since then on my main profile (with [this about:support](http://textuploader.com/dmddl), as posted previously).

Unfortunately I haven't had much time to narrow down the issue. One thing that I did find was that at least once the tour was shown despite neither the browser nor the extension having been updated.

It would be helpful if you could answer a couple

[2018-01-26 14:47] #3968 closed

[2018-01-26 15:00] nicofrand commented on #4018
Hi !

It does seem to be a duplicate indeed. However the nightly did not fix the issue of npr.org:

![bug-firefox](https://user-images.githubusercontent.com/3419050/35445285-746d8f82-02b1-11e8-91eb-45d98fe8b778.png)

It did not fix it with my page neither:

![bug-firefox](https://user-images.githubusercontent.com/3419050/35445451-f0333f5e-02b1-11e8-830f-aae41de252cc.png)

PS : feel free to reopen

[2018-01-26 15:00] SoftVision-CosminMuntean commented on #3954
Thanks for the information!
I think @ianb is the right person to answer your questions.

Next time when the Tour is displayed can you please check the browser console (Ctrl+Shift+J) if there are any errors?

[2018-01-26 15:22] SoftVision-CosminMuntean commented on #4018
@nicofrand I'm sorry for sending you on a wild goose chase! It seems that the fix didn't land in Nightly yet and I didn't notice that I had tested this scenario using Screenshots 28.0.0 dev version. However, the issue is fixed and will land in the next release.
You can also check this by installing the Screenshots dev version from [here](https://screenshots.dev.mozaws.net/homepage/install-test-loc

[2018-01-26 15:25] SoftVision-CosminMuntean commented on #3986
I haven't managed to reproduce this issue.  I was able to draw continuously without releasing the mouse more then 1 minute.
I have tested it using Screenshots 28.0.0 dev version on latest Nightly 60.0a1 on Mac 10.12, Windows 7 x64 and Arch Linux.
I have notice that the mouse cursor is changing on Mac only when I hover the margins of the browser. But if I click again on any of the drawing tools the

[2018-01-26 15:27] nicofrand commented on #4018
That's ok, glad it's fixed ! Well done to everyone involved.

I confirm this is fixed for both npr.org and my case, you can close this issue, thanks !

[2018-01-26 15:28] #4018 closed

[2018-01-26 17:19] gene1wood commented on #4017
@SoftVision-CosminMuntean

It's reproducible for screenshots taken on other sites. Here is another one that does the same thing for me : https://screenshots.firefox.com/aEDluHd21nIcYRpf/screenshots.firefox.com

As does this one https://screenshots.firefox.com/l9b8VTHGHvqe5CXs/github.com

I tested this in another firefox profile with no add-ons and it occurred in that one too

I tested it in a bran

[2018-01-26 18:25] chenba commented on #3861
The proposed patch (PR #4023):

- Displays the animated loader only for truncated full page downloads and copy to clipboards
- Uses the CSS loader animation from `/creating`, partly because #4000 might use it for annotation saves as well

@fangshih Let me know if you want us to use a different spinner.

[2018-01-26 20:53] chenba opened #4024 "Add Selenium Test for Auto Selection Shot"
Add a Selenium test to verify that auto selection shots are working.

[2018-01-26 20:54] chenba commented on #3949
1: #4024

[2018-01-26 21:19] chenba opened #4025 "Add Selenium Test for Copy Selection to Clipboard"
Add a Selenium test to verify that a selection has been successfully copied to the system clipboard.

[2018-01-26 21:22] chenba opened #4026 "Add Selenium Test for Downloading a Shot"
Add a Selenium test to verify that a shot has been successfully downloaded.

[2018-01-26 21:26] chenba opened #4027 "Add Selenium Test for Save Shot Attempt while Server is Unavailable"
How to turn off server or switch backend for this particular test?

[2018-01-26 21:35] chenba opened #4028 "Add Selenium Test for Canceling an Auto-Selection"
Add a Selenium test to verify that an auto-selection is canceled with a background click.

[2018-01-26 21:38] chenba opened #4029 "Add Selenium Test for Activating/Deactivating Screenshots via Page Action"

[2018-01-26 21:41] chenba opened #4030 "Add Selenium Test for Navigating to My Shots"
Add a Selenium test to verify that a user can navigate to My Shots from the addon overlay UI and that the overlay also cancelled.

[2018-01-26 21:49] chenba opened #4031 "Add Selenium Test for Navigating to My Shots via the Library"
If possible.

[2018-01-26 21:50] chenba opened #4032 "Add Selenium Test for Truncated Full Page Shots"

[2018-01-26 21:54] chenba opened #4033 "Add Selenium Test for Switching the `disabled` Pref On/Off"

[2018-01-26 21:55] chenba opened #4034 "Add Selenium Test for Making a Selection with Mousemove"

[2018-01-26 21:56] chenba opened #4035 "Add Selenium Test for Auto Selection Changes with Mousemove"

[2018-01-26 22:00] chenba commented on #3949
I'm closing this because we have more than enough suggestions.  I captured all of them into github issues just so we don't lose the ideas.  We can close the individual issue if and when we find that it's impossible to test with Selenium.

[2018-01-26 22:00] #3949 closed

[2018-01-26 22:04] wresuolc opened #4036 "Investigate slow Step One times after Jan 10th"
On January 10th the first step of taking a screenshot went from <1s to several seconds to execute.  Any ideas on what happened?

![image](https://user-images.githubusercontent.com/16946141/35462620-922e55b6-02a1-11e8-899d-e6898cf02da2.png)

[2018-01-26 23:29] ianb commented on #2714
The [contentScripts.register()](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/contentScripts/register) API (new in 59) makes this more feasible.

[2018-01-26 23:48] chenba commented on #4036
Looks like a lot of it is from the context menu.  And looking at the distribution, there are 3600+ sec (over six _minutes_) data samples.  That kind of extreme numbers can really screw up an average.  No idea what could've caused it though.

![image](https://screenshotscdn.firefoxusercontent.com/images/53e0554c-c2c9-410f-bb56-c07836548d6f.png)

[2018-01-27 00:41] wresuolc commented on #4036
That is a crazy spike, but yours goes back down after that day and mine doesn't which is odd.  Maybe my query is bad.

My graph shows a percentile to avoid getting washed out by a bad average (the red & yellow lines)

[2018-01-29 08:42] Softvision-CristinaBadescu commented on #3981
This issue is no longer reproducible using Firefox Screenshots v28.0.0dev installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), on latest Nightly build 60.0a1 (2018-01-28), on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

[2018-01-29 11:45] SoftVision-CosminMuntean commented on #4017
@gene1wood thanks for testing it!
I am not sure, but after looking at the errors I think that this issue is related to #3581. Do you have any custom configuration related to history or cookies on the profile where the issue is reproducible?

Also, Firefox 58.0 was released last week and contains a new version of Screenshots that has some fixes related to cookies. If you don't mind, can you test if

[2018-01-29 12:28] SoftVision-CosminMuntean commented on #2982
I have managed to reproduce this issue using a new Firefox profile where the Screenshots tour was not visited.
In order to make it easier to reproduce add the "Firefox Screenshots" option to Address Bar.

[Steps to reproduce]:
1. Navigate to a large page where the content is slowly loaded (eg: cnn.com).
2. While the page is loading double click on the "Firefox Screenshots" from Address Bar.
3. Obs

[2018-01-29 14:15] g-k commented on #2424
@ianb can you elaborate on where or when we need them? This would still be nice to have from a security perspective.

[2018-01-29 15:58] gene1wood commented on #4017
The two profiles that I use regularly don't have any interesting cookie or history configuration that I know of.

The three errors shown in the console [that I mention above](https://github.com/mozilla-services/screenshots/issues/4017#issuecomment-360847435) are gone in Firefox 58 and the problem does not occur.

[2018-01-29 16:39] #3942 closed

[2018-01-29 16:50] #4003 closed

[2018-01-29 16:53] #3818 closed

[2018-01-29 16:54] #3873 closed

[2018-01-29 17:11] wresuolc commented on #4019
Look at how React does it

[2018-01-29 17:12] wresuolc commented on #4017
If this doesn't occur anymore, I think this is fixed?  Re-open if I'm misreading.

[2018-01-29 17:12] #4017 closed

[2018-01-29 17:13] wresuolc commented on #4012
Ian is going to investigate if this is exposed to non-owners

[2018-01-29 17:15] SoftVision-CosminMuntean commented on #3982
Unfortunately I haven't managed to reproduce this issue. The only errors I got are the "catcher is not defined" and "Attempted to call slides.display() twice", which are already tracked.
For testing this I have used a new clean Firefox profile where the Tour was never visited and I tried to activate it using multiple scenarios (from context menu, Page Actions menu, with double clicks, etc...).
How

[2018-01-29 17:15] wresuolc commented on #3982
I'm going to close this.  Feel free to reopen if you can reproduce. thanks

[2018-01-29 17:15] #3982 closed

[2018-01-29 17:33] wresuolc commented on #4021
We thought this was filed already but I can't find the duplicate.  I assume this is asking for a screenshot to include the browser chrome (the URL bar) and not just overlaying a URL on the screenshot.

[2018-01-29 17:44] jakemagee commented on #4021
Which ever looks best would be fine with me (URL bar or overlay)... but I'm assuming that the overlay functionality doesn't already exist.  I certainly can't find any URL overlay on the screenshots I'm taking.

[2018-01-29 17:57] wresuolc commented on #3979
Ok, I think I copied from the wrong site.  This is screenshots.firefox.com:

So, the questions I see from this are:

- Do we need stable.dev.lcip.org for images?
- Do we need unsafe-inline for styles?

[2018-01-29 18:28] johngruen opened #4037 "Clipboard metrics are not documented"
Shame! Shame! Shame!

[2018-01-29 19:21] chenba commented on #3861
Here's a screen recording of the loader CSS animation in action for a large download:

![loader](https://user-images.githubusercontent.com/198055/35529615-2d9392f8-04f7-11e8-90c5-4f361a96bd14.gif)

[2018-01-29 20:10] johngruen commented on #3861
@chenba looks good, but there's a flash where the underlying content shows without an opacity layer btwn the loader and the preview. possible to maintain that layer throughout the flow?

[2018-01-29 20:43] chenba commented on #3861
@johngruen Sorry, I don't totally understand your comment.  The loader is on the same layer as the preview; the preview UI and the 10000px notice are hidden while the loader is displayed.  I'm having a really hard time spotting the flash in the image above. 😕

[2018-01-29 23:02] chenba commented on #3861
So, I was being economical with my bits and start the recording right before I click on the download button.  That's _after_ I've already selected the full page shot option and received the preview.  Sorry about the confusion.  #StartFromTheBeginning

[2018-01-30 12:17] nrobinaubertin opened #4039 "canvas alert when screenshoting"
Hi,

I'm on archlinux with firefox 58.0 (64bits).
The privacy.resistFingerprinting config is set to true.

When I try to use the screenshot tool, the canvas alert is triggered (even on static pages not using the canvas). I may want to use the tool on webpages where I block canvas usage : is it possible to decorelate the rights of the screenshoting tool from the webpage ?
For example, I blocked can

[2018-01-30 15:07] #4007 closed

[2018-01-30 16:42] wresuolc commented on #4037
Please add to https://github.com/mozilla-services/screenshots/blob/master/docs/METRICS.md

[2018-01-30 16:43] ianb commented on #4039
In [Bugzilla Bug 1412961](https://bugzilla.mozilla.org/show_bug.cgi?id=1412961) they are discussing how to keep Screenshots and other extensions working with resistFingerprinting on. Screenshots will rely on fixes to fingerprinting.

[2018-01-30 16:43] #4039 closed

[2018-01-30 16:49] nrobinaubertin commented on #4039
Thanks for the answer !

[2018-01-30 18:04] mathjazz opened #4041 "Change l10n IDs: annotationConfirmCropButton & annotationCancelCropButton"
The following l10n IDs need to be changed:
`annotationConfirmCropButton`
`annotationCancelCropButton`

Changes introduced in https://github.com/mozilla-services/screenshots/commit/31bbfb47a8a56def1836a0eff08a950716d19975 change the meaning of the affected strings, so they need to show up as untranslated in l10n tools like Pontoon. In order to communicate such change to Pontoon, [string IDs need to

[2018-01-31 00:13] pgerber commented on #3503
Calling it *Save* is really confusing, I usually press *Save* before a realize that I clicked the button with the cloud next to it. I appear to use Screenshots too rarely to remember but frequently enough that this has become a serious issue. I'm still hoping #3770 is going to be implemented, preferably with an actual preference in about:preferences and a checkmark during the introduction.

For pe

[2018-01-31 17:29] #4041 closed

[2018-02-01 14:02] Softvision-CristinaBadescu opened #4044 "[Annotations] "Save" button can wrongly be actionated before the image is loaded"
[Notes]:
- This issue is easier to encounter for large screenshots.

[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref set to "false" and "extensions.legacy.enabled" pref set to "true".
- Have the latest Firefox Screenshots v28.0.0 installed from [here](https://

[2018-02-01 15:59] Softvision-CristinaBadescu opened #4046 "[Annotations]"Color Picker" button doesn't match with the active custom color after using crop"
[Notes]:
- After you return from crop mode, even though the displayed color is "Black", if you draw again the image, you'll see the previously chosen color.
- This issue is reproducible even if you select "Confirm" or "Cancel" button from crop mode.

[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Have th

[2018-02-01 16:45] ianb commented on #3954
I don't have a reproduction, though I've seen this myself. Looking at the code (in `main.js`), `hasSeenOnboarding` defaults to false, and then we request the value from browser storage. We log any error getting browser storage to the console, but not Sentry. So an error there could cause the onboarding to be re-shown (though I'm skeptical this is the problem). Another possibility is if fetching fr

[2018-02-01 17:04] SoftVision-CosminMuntean commented on #3986
After further investigations I finally managed to reproduce it using the following steps to reproduce:

[Steps to reproduce]:
1. Open Firefox browser with the latest Screenshots 28.0.0 dev version installed.
2. Navigate to a saved shot link and click the "Edit this image" button.
3. Double click on the image without moving the cursor and click to drag in order to draw on the image.
4. Observe the

[2018-02-01 17:16] #4037 closed

[2018-02-01 17:17] #3959 closed

[2018-02-01 17:17] #4008 closed

[2018-02-01 23:20] #3844 closed

[2018-02-02 08:36] Softvision-CristinaBadescu opened #4051 "[Annotations]Nothing is drawn if you use a single click on the shot"
[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref set to "false" and "extensions.legacy.enabled" pref set to "true".
- Have the latest Firefox Screenshots v28.0.0 installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html) on a new

[2018-02-02 15:09] #3840 closed

[2018-02-02 19:25] 6a68 opened #4053 "minor data studio bug"
I think the labels in the right column should be 'full page clipboards' and 'visible page clipboards':

![](https://screenshotscdn.firefoxusercontent.com/images/35db3c5a-7f2d-46fb-a370-6e784c1d7f12.png)

[2018-02-02 21:12] dserodio commented on #3251
Opt-in (for every screenshot, not as a default for all screenshots) looks like the best option.

[2018-02-02 21:53] 6a68 opened #4054 "Use Performance.now in calculating user timings"
Writing client software is full of surprises! Performance.now() is monotonically increasing, Date.now() is system clock-dependent. We should use Performance.now() instead.

I suspect we had a user's system clock update during a Screenshots interaction on Sunday, 1/28. We use Date.now() to generate start and end times, and one ping must have been on the order of hundreds of thousands of seconds, wh

[2018-02-02 22:23] 6a68 opened #4055 "Cancel user timings when the current tab loses focus"
Firefox 58 added throttling of JS execution in background tabs ([bug 1377766](https://bugzilla.mozilla.org/show_bug.cgi?id=1377766)). The heuristics are discussed [on MDN](https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API#Policies_in_place_to_aid_background_page_performance).

Our user timing code doesn't currently stop a measurement if the user switches to a different tab or wi

[2018-02-03 15:09] rugk opened #4056 "Cannot draw"

[2018-02-03 15:09] #4056 closed

[2018-02-03 15:14] rugk opened #4057 "Cannot draw box for screenshot with touch in Nightly on Linux"
Using Nightly 60.0a1 when I try to use Firefox Screenshots, I can only *tap* somewhere to select an element.

**What should happen:** When I drag (tap) and drop (move and release finger) I expect this to create a box for selecting the screenshot.

**What happens instead:** It scrolls the website in the background.

Fedora 27 x64
GNOME, **Wayland**
[Flatpak version](https://firefox-flatpak.mojefedo

[2018-02-05 06:47] timdream opened #4059 "zopflipng the images"
The png images need to be compressed from the upstream. See

https://bugzilla.mozilla.org/show_bug.cgi?id=1234008

Thanks!

[2018-02-05 06:56] timdream commented on #4059
Actually, I am not sure if I should just push the changes to m-c first and for someone to "downlift" it to here instead. Let me know what I should do.

[2018-02-05 13:41] SoftVision-CosminMuntean commented on #4057
I haven't managed to install the unofficial Nightly flatpak build due to some errors, but I tested this issue using an official Nightly (60.0a1) build downloaded from [here](https://ftp.mozilla.org/pub/firefox/nightly/2018/02/2018-02-03-22-03-31-mozilla-central/firefox-60.0a1.en-US.linux-x86_64.tar.bz2) and the issue is not reproducible. Tested on Fedora 27 x64.

@rugk can you please retest this i

[2018-02-05 16:52] ianb commented on #4059
@timdream You can commit them in m-c, and we'll try to get it all fixed up on our end for the next export that we do. Thanks for the heads up!

[2018-02-05 17:03] ianb opened #4060 "Offset issues on ING.nl"
[Bug 1433052](https://bugzilla.mozilla.org/show_bug.cgi?id=1433052) reports a selection problem on ING.nl. It appears to be on an interior banking page, which makes it hard to reproduce. Probably this is a CSS conflict. @SoftVision-CosminMuntean noted it might be #3907

[2018-02-05 23:31] wresuolc commented on #4053
I looked at the data sources and they match up with what you're asking.  I changed the labels.

[2018-02-05 23:31] #4053 closed

[2018-02-06 15:10] SoftVision-CosminMuntean commented on #4036
I just finished to compare the time until the Screenshots overlay is displayed, if it's activated from context menu, between Firefox 57.0.4 and Firefox 58.0.1 release.
Overall, there is not a big difference between the Firefox versions. The Screenshots overlay is displayed in less than a second. But, randomly on Firefox 58.0.1 Screenshots overlay is displayed in 1 second or a second and a half on

[2018-02-06 20:13] 6a68 commented on #4036
@SoftVision-CosminMuntean Thanks for your very thorough investigation. I think we can rule out any upstream changes in 58 as a root cause for these timing bugs :+1:

[2018-02-06 22:28] wresuolc opened #4066 "Consider requiring FxA auth for long-term screenshots storage"

[2018-02-06 22:31] wresuolc opened #4067 "Consider being more strict about request formatting"
This is a bit open ended, but let's look into what we currently call a malformed request and (maybe) better define that and expand it.  This could be just making sure some fields aren't null, or it could be making sure UAs are well formed, or anything between.

[2018-02-06 22:33] wresuolc opened #4068 "Consider rate limiting requests"
This could be all requests, or just uploads, or just upload attempts that fail, or something else...

[2018-02-06 22:36] wresuolc opened #4069 "Consider adding contact information to the 404 pages on the CDN"
Images are often embedded when they are used and show up with a URL similar to:

If you drop the filename and look at the directories above one is a custom 404 and one is a generic 404.  When someone is looking for contact information and all they have is a URL it can be hard to find.  Let's add a note about what the service is and a link to report abuse easily on:

[2018-02-06 23:58] 6a68 opened #4071 "Should Screenshots be on the cloud services status page?"
https://status.services.mozilla.com/

[2018-02-07 00:08] 6a68 commented on #3377
@oremj What config would be useful and safe to expose via the __version__ endpoint?

[2018-02-07 16:52] wresuolc commented on #4068
@oremj is this an easy thing to do from your end (like, is it already built-in to our servers?)

[2018-02-08 00:03] wresuolc commented on #4019
I have a draft of this over here: https://github.com/mozilla/testpilot/pull/3334

[2018-02-08 08:25] RobinEd commented on #2491
keyboard shortcuts seem to have been removed from a whole load of addons - the screenshot thing is great but takes a lot of time with dragging the mouse!

[2018-02-08 13:39] SoftVision-CosminMuntean commented on #4057
I think I misunderstood the issue.
@rugk you cannot perform a selection using the touchpad or on a touch screen display? If you cannot perform a selection on a touch screen displayed, I think this issue is similar with #2888.

[2018-02-08 14:00] step21 commented on #2491
@RobinEd what takes time? you can just click elements or click 'whole page' etc, not sure how this could be faster?

[2018-02-08 14:02] rugk commented on #4057
Touch screen, yes.

So closing this as a dupe of https://github.com/mozilla-services/screenshots/issues/4057.

[2018-02-08 14:02] #4057 closed

[2018-02-08 14:02] rugk commented on #2888
Also affects Linux, of course. See https://github.com/mozilla-services/screenshots/issues/4057.

[2018-02-08 16:48] migaspepino commented on #2491
@step21 It's not about taking time, at least for me. It's about losing focus over an element for example.

Like having a open Dropbox and clicking on the snapshot button loses focus and can't use it.

[2018-02-08 17:03] SoftVision-CosminMuntean commented on #4060
The reporter cannot reproduce the issue using the latest Screenshots dev version, so I think that the issue was fixed by #3907 (see [bug 1433052](https://bugzilla.mozilla.org/show_bug.cgi?id=1433052#c10)).

[2018-02-08 17:03] #4060 closed

[2018-02-08 17:24] #4055 closed

[2018-02-08 17:34] #3977 closed

[2018-02-08 17:54] #3935 closed

[2018-02-08 17:54] #3987 closed

[2018-02-08 17:54] #4044 closed

[2018-02-08 17:54] #3853 closed

[2018-02-08 17:58] ianb opened #4074 "[Annotation] Decide on when to show highlight"
PR #4073 adds a badge to tell people about the new annotation/edit button. But it only shows a small badge once to a person, and I don't think that's enough.

[2018-02-08 17:58] #3973 closed

[2018-02-08 18:12] ianb opened #4076 "Update code per eslint"
It's hard to tell because of other test failures, but `npm run lint:js` now fails due to some new eslint rules and other updates that have come in since then:

[code]

[2018-02-08 21:18] chenba opened #4078 "Upgrade to CircleCI 2.0"
Would be nice / keeping up with the times/joneses.

[2018-02-08 21:18] #4076 closed

[2018-02-09 11:01] RobinEd commented on #2491
@step21 mouse and click three dots thing, mouse and click take screenshot, mouse and click save full page (or other option), mouse and click download button, mouse and click save (for some reason always in the download directory and not the last saved in directory). That's a lot of clicking when it could be <ctrl>+ANYKEY for full screen or <ctrl>+ANYOTHERKEY for part and then straight to the save

[2018-02-09 13:59] SoftVision-CosminMuntean opened #4082 "The descriptive images from Screenshots tour page are not displayed Safari"
[Affected versions]:
- Safari 11.0.3

[Affected Platforms]:
- All Mac OS

[Steps to reproduce]:
1. Open the Safari browser and navigate to "https://screenshots.firefox.com" page.
2. Observe the descriptive images from the page.

[Expected result]:
- The descriptive images are correctly displayed.

[Actual result]:
- The descriptive images are no longer displayed.

[Notes]:
- The issue is not repro

[2018-02-09 14:19] chenba commented on #4082
Probably because of svgo (#3853)

[2018-02-09 15:48] johngruen commented on #4082
Cool that safari sucks...maybe we should just convert these to PNGs?

[2018-02-09 15:49] johngruen commented on #4074
I think it's cool...we could add a string if you like?

[2018-02-09 15:53] peterbe opened #4085 "Changing expires removes how long ago it was uploaded"
Before:
<img width="333" alt="screen shot 2018-02-09 at 10 52 29 am" src="https://user-images.githubusercontent.com/26739/36036251-68627b7c-0d87-11e8-85e9-5ef3966b290d.png">

Then I click the little "Expires ..." button and immediately click "Cancel"

After:
<img width="260" alt="screen shot 2018-02-09 at 10 52 44 am" src="https://user-images.githubusercontent.com/26739/36036282-7b68b8d0-0d87-11e8

[2018-02-09 16:01] peterbe commented on #4085
Uh. This is on the perma page for displaying the screenshot.

[2018-02-09 16:10] chenba commented on #4082
Oh, on the site.  Different issue # then (and been around for a little while now), but still a svgo thing.

[2018-02-09 16:13] johngruen opened #4086 "Pasting into email comes out the other end as a img tag with a data URI"
Because we can't have nice things...

I copied something to clipboard and pasted into an email in inbox.google.com. Everything looked fine on my end during composition, but the result on the receiving end was a big fat dataURI in the email. It also looks broken in my *Sent* folder:

![image](https://user-images.githubusercontent.com/3323249/36037252-7f3be5ce-0dbc-11e8-9cb4-aaa7fd286bfa.png)
nb. Th

[2018-02-09 16:14] johngruen commented on #4085
I am like 99.9% sure this is a dupe

[2018-02-09 16:19] johngruen commented on #4085
Found it! I'll move the original out of its backlog and we'll re-triage it on Monday

#3255

[2018-02-09 16:19] #4085 closed

[2018-02-09 16:28] johngruen commented on #3255
I put this back in triage because of a report by community member @peterbe

[2018-02-09 16:28] peterbe opened #4087 ""Time ago" indicator is stale"
I saved this screenshot a lot more than "34 min" ago.
Still says 34 min ago.
https://screenshots.firefox.com/S0CHjUwFNOGl5a7C/screenshots.firefox.com

When I refresh the page it says "1 hour" now but that's going to get stale too.

(Sorry if this is a dupe. It's hard to search for)

[2018-02-09 17:09] SoftVision-CosminMuntean commented on #4008
I have retested this issue and is no longer reproducible on the latest Screenshots 29.0.0 version.

[2018-02-09 18:02] 6a68 commented on #4086
I think this might be [bug 1308007](https://bugzilla.mozilla.org/show_bug.cgi?id=1308007), or one of the [many bugs in its dependency tree](https://bugzilla.mozilla.org/showdependencytree.cgi?id=1308007).

[2018-02-11 19:23] wresuolc commented on #4071
@oremj this seems like a good idea (thanks @6a68)

[2018-02-11 19:37] sexyegor commented on #4071
it should go where the most participate!!  wayne

[2018-02-12 00:01] mathieu-aubin opened #4091 "Automatic add to clipboard"
I must say i havnt really checked into the settings but i strongly suggest the automatic clipboard addition to be optional and NOT set to on by default -- this could potentially f** this up for someone

[2018-02-12 08:38] Softvision-CristinaBadescu commented on #4044
This issue is no longer reproducible using Firefox Screenshots v28.0.0  dev installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), on latest Nightly build 60.0a1 (2018-02-11), on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

[2018-02-12 09:06] Softvision-CristinaBadescu commented on #4051
This issue is no longer reproducible using Firefox Screenshots v28.0.0  dev installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), on latest Nightly build 60.0a1 (2018-02-11), on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

[2018-02-12 09:06] #4051 closed

[2018-02-12 13:46] Softvision-CristinaBadescu opened #4092 "[Annotation] An extra space appears between the highlighted annotation "Edit this image" button and the "Share" one"
[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref set to "false" and "extensions.legacy.enabled" pref set to "true".
- Have the latest Firefox Screenshots v28.0.0 installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html) on a new

[2018-02-12 14:37] Softvision-CristinaBadescu opened #4093 "[Annotations] The annotation button remains highlighted after canceling the edit mode"
[Notes]:
- This issue is no longer reproducible if you click the "Confirm" button, so I'm not sure if this is the intended behavior.
- Also, the annotation button is no longer highlighted if you refresh the page.

[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pre

[2018-02-12 16:42] ianb commented on #4087
We don't currently do any updates of pages after they load, so we never pick up the update. A fix for this would probably involve some `setInterval(render)`

[2018-02-12 16:44] ianb commented on #4086
We won't be able to fix this in Screenshots; we'll have to depend on the upstream fixes for this.

[2018-02-12 16:44] #4086 closed

[2018-02-12 16:49] #4074 closed

[2018-02-12 16:53] ianb commented on #4091
Note we have a concept for tool preference that would allow turning this off in #1766.

[2018-02-12 17:06] marniepw commented on #3948
@johngruen we likely need some design input: page w/shots, edge/error cases, etc. We need to get this figured out per GDPR. @clouserw to talk to Legal re: specific requirements.

[2018-02-12 17:34] #4015 closed

[2018-02-12 17:34] #4046 closed

[2018-02-12 17:52] tomrittervg commented on #3651
3.22.2

[2018-02-12 17:58] #4024 closed

[2018-02-12 17:59] #3861 closed

[2018-02-12 21:28] wresuolc commented on #4036
I dug into this a bit more via BigQuery.  It looks like most interactions with us make 10-20 pings to GA.  As few as 5 if they've already gone through the introduction.

A key takeaway for me here is that we sent the events and then we send the timing for the events in a separate ping.  This leads to some inconsistencies.  I've grabbed some random scenarios below (all of these are on Screenshots 2

[2018-02-12 21:53] 6a68 commented on #4036
Ah, of course. I'm not handling the case where onboarding is shown.

[2018-02-12 22:09] 6a68 commented on #4036
Still doesn't explain why the delays are only seen in the context-menu case, though...

[2018-02-12 22:41] chenba commented on #4036
I don't think it was only, but majority was from the context menu.  People accidentally discovering Screenshots on the context menu?

[2018-02-12 23:46] 6a68 commented on #4036
Good call, it is probably a lot easier to stumble over screenshots via the context menu than via the page action menu.

[2018-02-12 23:55] 6a68 opened #4097 "RAIL step 1: track onboarding, too"
When a brand new user clicks on Screenshots UI, they are shown onboarding slides, not the preselection frame. This is artificially inflating the average time for the first step. Also, since we have lots of new users, time to onboarding is an important step to optimize in its own right.

Related to #4036.

[2018-02-13 09:35] Softvision-CristinaBadescu opened #4100 "[Annotations] Drawing can be wrongly performed using right click"
[Notes]:
- This issue is also reproducible for Crop mode.
- This issue is also reproducible for middle button click.

[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref set to "false" and "extensions.legacy.enabled" pref set to "true".
- Have the latest Firefox S

[2018-02-13 10:15] SoftVision-CosminMuntean opened #4101 "[Annotations] "Color Picker" panel is no longer visible"
[Affected versions]:
- Nightly 60.0a1
- Screenshots 28.0.0 dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots dev version installed on a new clean profile.
- Have a saved shot link.

[Steps to reproduce]:
1. Ope

[2018-02-13 12:43] Softvision-CristinaBadescu commented on #3861
This issue is no longer reproducible using Firefox Screenshots v28.0.0dev installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), on latest Nightly build 60.0a1 (2018-02-12), on Windows 10 x64, Mac 10.13.3 and Arch Linux 4.12.

[2018-02-13 14:33] SoftVision-CosminMuntean opened #4102 "[Annotations] The annotations buttons can wrongly be actioned before the image is loaded"
[Notes]:
- This issue is easier to encounter for large screenshots.

[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref set to "false" and "extensions.legacy.enabled" pref set to "true".
- Have the latest Firefox Screenshots v28.0.0 installed from [here](https://

[2018-02-13 14:34] SoftVision-CosminMuntean opened #4103 "[Annotations][Enhancement] The mouse cursor should be changed into a crop cursor, when you are in crop mode"
[Affected versions]:
- Nightly 60.0a1
- Screenshots 28.0.0 dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the latest Firefox Screenshots v28.0.0 installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test

[2018-02-13 14:36] SoftVision-CosminMuntean commented on #4015
I have retested this issue using latest Screenshots 28.0.0 dev version and is no longer reproducible. Tested on Windows 7 x64, Arch Linux an Mac 10.12.

[2018-02-13 15:01] #4054 closed

[2018-02-13 15:05] #4097 closed

[2018-02-13 16:34] #4036 closed

[2018-02-13 16:38] wresuolc opened #4104 "The bottom of some screenshots is black"
Reported at https://discourse.mozilla.org/t/when-the-screenshot-is-too-long-it-stop-charging/25463/1

Example at https://screenshots.firefox.com/LfsTRmEF9EzKlV8Y/www.tumblr.com

[2018-02-13 16:55] oremj commented on #4071
We can add it for you. Right now, it's just manually updated. We are currently working on a better solution, so it might be better to wait for that.

[2018-02-13 17:07] enthus1ast commented on #3503
Why not just make a "upload to cloud" button?

[2018-02-13 17:13] 6a68 commented on #3770
This was implemented in #4006. The pref is `extensions.screenshots.upload-disabled`, and it is currently in Nightly. It'll be in release as of version 60.

[2018-02-13 17:13] #3770 closed

[2018-02-13 17:29] 6a68 commented on #3503
@pgerber Hi, #3770 is fixed. The pref is `extensions.screenshots.upload-disabled`, and it is currently available in Nightly. It'll be in release as of version 60. If you want to disable screenshots, the pref is already available in release: `extensions.screenshots.disabled`.

@enthus1ast Thanks for the suggestion. That's a lot of text to fit into a button, especially in languages like German that

[2018-02-13 17:32] wresuolc commented on #4071
Thanks oremj.  Let's do the manual add and then it will already be there when we flip to automatic.

[2018-02-13 19:50] #4030 closed

[2018-02-13 20:31] 6a68 commented on #3275
WIP fix in #3277

[2018-02-13 21:08] 6a68 opened #4108 "intermittent selenium bug: ElementNotInteractableError"
[This build](https://circleci.com/gh/mozilla-services/screenshots/5140) failed with this error message:

`screenshots-server.console.ERROR: error {"msg":"(node:23714) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): ElementNotInteractableError"}`

I wonder if doing something like (1) wait to find the element, then (2) wait for the element to be enabled, would fix th

[2018-02-13 21:09] 6a68 opened #4109 "intermittent selenium bug: UnhandledPromiseRejectionWarning"
Related to #4108, I thought mocha should gracefully handle uncaught Promise failures, but I guess not. Maybe we need to add a generic `.catch(err => fail(err))` or something throughout?

[2018-02-14 00:07] chenba commented on #4108
I cannot reproduce locally with some serious CPU throttling.

There are already waits in the test: https://github.com/mozilla-services/screenshots/blob/457b6ea5d45b1ca7fe6215a0d6f1707c4f0d3072/test/test.js#L220-L226

[2018-02-14 14:37] SoftVision-CosminMuntean commented on #4104
I haven't managed to reproduce this issue. Tested with Firefox 58.0.2 release and latest Nightly 60.0a1 build (2018-02-13) on Windows and Mac OS'es.

But, I can reproduce a similar issue #2007. If you save a long shot on a large page, a part of the content is missing and leaves a blank space: https://screenshots.firefox.com/Fqv0dIlpFQOsRFLI/www.tumblr.com

On the provided screenshot, the last imag

[2018-02-14 14:54] #3642 closed

[2018-02-14 15:47] SoftVision-CosminMuntean commented on #3986
This issue is no longer reproducible on latest Screenshots (28.0.0) dev version. Tested on Windows 7 x64, Windows 10 x64, Mac 10.12 and Arch Linux.

I think that this issue was fixed by #4051.

[2018-02-14 15:47] #3986 closed

[2018-02-14 16:42] 6a68 opened #4112 "Data Studio page 5 shows mobile uploaders/downloaders"
This seems funny. Uploading and downloading stats are identical and...how are people uploading from iOS or android?

![](https://screenshotscdn.firefoxusercontent.com/images/83e55836-42f7-452d-a9c5-17416a675d42.png)

[2018-02-14 17:11] johngruen opened #4113 ""callBackground is not defined" error is displayed after copy/paste hotkey is used on a page where Screenshots was used"
## STR
1. Go to a data studio report
2. Make sure you're in edit mode
3. take a shot and copy to clipboard
4. Try to copy/paste an element on the page (i used cmnd + c, cmnd + v)

## Results
This triggers a _haywire_ message every time you copy until you refresh the page!

[2018-02-14 17:23] johngruen commented on #4112
![image](https://user-images.githubusercontent.com/3323249/36218265-13f903f4-11b4-11e8-9515-dc94dd255fbb.png)

Fixed

[2018-02-14 17:23] #4112 closed

[2018-02-14 17:36] chenba commented on #4108
Logs around the error:

[code]

Then it's just `getWindowHandles` endlessly.  ([The log at CircleCI.](https://circleci.com/api/v1.1/project/github/mozilla-services/screenshots/5156/output/21/0?file=true))

[2018-02-14 21:19] chenba commented on #4108
The `moz:webdriverClick` capability doesn't seem to have an effect on this.  Although the error message is better when that is set to true.

And the events and their order before the error are identical in the successful and failed test trace logs.

[2018-02-15 16:53] johngruen commented on #4113
[code]

[2018-02-15 16:54] ianb commented on #4113
It looks like there's a teardown problem, where not everything is unloaded, and presumably the copy keyboard shortcut is left attached. The error message comes from the partially-unloaded code.

[2018-02-15 17:29] chenba commented on #4113
I can reproduce this on latest Windows 10 Nightly.  My stack trace looks a little different:

[code]

[2018-02-15 18:02] chenba opened #4117 "[Annotations] Clicking Directly on Highlight Asterisk Part of the Edit Icon Does Not Start Edit Mode"

[2018-02-15 18:08] #4022 closed

[2018-02-15 18:08] #4092 closed

[2018-02-15 18:08] #4101 closed

[2018-02-15 18:09] chenba commented on #4100
#4116 didn't fix this when I tested it.

[2018-02-15 18:21] chenba opened #4118 "Fix Latest nsp Reported Issues"
[code]

[2018-02-15 21:41] chenba opened #4119 "Remove the https://nodesecurity.io/advisories/566 Exception from .nsprc"
An exception was added to .nsprc to fix #4118.  Once the dependencies have been upgraded to new enough versions, we should remove it.

[2018-02-15 21:48] chenba commented on #4118
This is caused by a ["Medium" security issue](https://nodesecurity.io/advisories/566) from deep within the dependency tree.  The vulnerability requires user input being parsed as JSON.

I will add an exception to .nsprc and have filed a follow-up (#4119).

[2018-02-15 21:58] #4118 closed

[2018-02-15 22:26] 6a68 opened #4121 "Disable Screenshots page action on non-http(s) pages"
(I think this bug may already exist, but I can't find it right now.)

Some about pages, like `about:telemetry` or `about:mozilla`, show the page action menu, and the Screenshots item is enabled there, but it shouldn't be.

The webcompat reporter disables itself in such cases like this: ([dxr](https://dxr.mozilla.org/mozilla-central/rev/27fd083ed7ee5782e52a5eaf0286c5ffa8b35a9e/browser/extensions/we

[2018-02-15 23:54] chenba commented on #3934
This was fixed in #4045.

(@niharikak101 when you add a fix to an existing PR, could you also update the PR description so the issue is auto closed on merge?  Thanks)

[2018-02-16 00:47] chenba commented on #4109
This is not something handled by mocha yet: https://github.com/mochajs/mocha/issues/2640

[2018-02-16 01:14] #3841 closed

[2018-02-16 01:15] #4109 closed

[2018-02-16 01:20] #4108 closed

[2018-02-16 01:39] 6a68 commented on #4121
Hmm, if we land #3967, I guess this fix wouldn't work

[2018-02-16 08:28] johngruen commented on #4113
I was also able to reproduce this on the new Theming experiment in Nightly. Fortunately cannot repro in release.

https://mozilla.github.io/ThemesRFun/

[2018-02-16 08:29] johngruen commented on #4113
@SoftVision-CosminMuntean could you test on Beta...i want to see if we might need an uplift here.

[2018-02-16 09:13] SoftVision-CosminMuntean commented on #4113
This issue is not reproducible on latest Beta 59.0b9 build and latest Firefox 58.0.2 release.
It seems that the issue is only reproducible on latest Nightly 60.0a1 builds with Screenshots 29.0.0. So I think that the issue was introduced with the new Screenshots add-on version (29.0.0).

Also, I have managed to reproduce this issue on multiple websites, eg: imdb.com and cnn.com.

[2018-02-16 09:38] SoftVision-CosminMuntean commented on #4101
This issue is no longer reproducible on latest Screenshots 28.0.0 dev version. Tested on Windows 7 x64, Mac 10.13 and Arch Linux.

[2018-02-16 12:01] SoftVision-CosminMuntean commented on #3934
This issue is still reproducible on Mac OS . The highlighter looks jagged while drawing slowly and moving its direction.
Here is a screen recording with the issue: https://goo.gl/mBf8FH

On Windows and Linux the issue is not reproducible but, you can observe that the highlighter pointer is a square and while changing the drawing direction the square wrongly rotates.
Here is a screen recording with

[2018-02-16 12:02] SoftVision-CosminMuntean opened #4124 "[Annotations] The "Color Picker" panel is not dismissed if you click outside of it or press the "Esc" key"
[Notes]:
- The panel is dismissed only if you choose another color or click again on the "Color Picker" button.

[Affected versions]:
- Nightly 60.0a1
- Screenshots 28.0.0 dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the

[2018-02-16 13:55] johngruen commented on #4113
That's good to hear, that means we should be able to resolve w/o uplift. @6a68 would it be worthwhile to bisect nightly to figure out where this bug was introduced?

[2018-02-16 15:51] chenba opened #4125 "Set LOCALHOST_SSL to false in .env.dev"
Looks like latest version of convict consider `""` to be `true`.

[2018-02-18 16:40] DerSmythe opened #4127 "URL and chrome option in uploads"
Sometimes it's necessary to have metadata with the URL the snapshot was saved from when uploaded. At other times it would be handy to also have the browser chrome (the URL bar) in the snapshot.

Yet this could cause security issues, so it should probably be a user preference with some sane safe defaults.

Links to
#4012
#4021

[2018-02-19 09:51] Softvision-CristinaBadescu commented on #4046
This issue is no longer reproducible using Firefox Screenshots v28.0.0 dev installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), on latest Nightly build 60.0a1 (2018-02-18), on Windows 10 x64, Mac 10.13.3 and Ubuntu 14.04 x64.

[2018-02-19 09:51] Softvision-CristinaBadescu commented on #4092
This issue is no longer reproducible using Firefox Screenshots v28.0.0 dev installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), on latest Nightly build 60.0a1 (2018-02-18), on Windows 10 x64, Mac 10.13.3 and Ubuntu 14.04 x64.

[2018-02-19 09:52] Softvision-CristinaBadescu commented on #4100
Indeed, this issue is still reproducible using Firefox Screenshots v28.0.0 dev installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), on latest Nightly build 60.0a1 (2018-02-18), on Windows 10 x64, Mac 10.13.3 and Ubuntu 14.04 x64.

[2018-02-19 11:42] Softvision-CristinaBadescu opened #4128 "[Annotations]There is a noticeable delay until a large image is loaded in edit mode"
[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref set to "false" and "extensions.legacy.enabled" pref set to "true".
- Have the latest Firefox Screenshots v28.0.0 installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html) on a new

[2018-02-19 12:20] SoftVision-CosminMuntean commented on #4113
It seems that this issue is reproducible on any website after Screenshots was used. It is enough just to activate then dismiss the Screenshots overlay and use the "Ctrl+C"/"Cmd+C" key shortcut.

In order to find when the bug was introduced I have used the Mozregression tool.. Here are the results:
Last good revision: 63ff291a2433f16ca847277564a011b68df5b9ac
First bad revision: db28301bc63b49419796

[2018-02-20 19:02] #4000 closed

[2018-02-20 19:10] chenba opened #4130 "[Annotations] Start Loader Animation Immediately After User Clicks Save"
#4000 [PR #4129] added the loader animation for the upload part of the annotation save.  The loader should be displayed as soon as Save is clicked, before converting the canvas into an image.

Ideally the animation is also displayed during the canvas to image part of the save, but that may be too difficult.

[2018-02-20 19:46] ianb commented on #4127
Note for someone considering this: Chrome has an Extension API to implement system screenshots, but Firefox does not yet have this. (Probably Firefox will get it eventually)

[2018-02-20 19:47] ianb commented on #4124
Note that SharePanel has code that could be borrowed for doing this kind of close/cancel.

[2018-02-20 19:50] ianb commented on #4121
I think with #3976 this will be fixed or at least better, so let's defer to that change.

[2018-02-20 19:50] #4121 closed

[2018-02-20 20:08] chenba commented on #4130
Note that given the async nature of JS, we'd probably need to ensure that the loader is displayed before we call `canvas.toDataURL()`.

[2018-02-20 20:31] 6a68 opened #4131 "Screenshots youtube video on homepage"
The [Screenshots post on the Firefox blog](https://blog.mozilla.org/firefox/share-exactly-see-screen-firefox-screenshots/) embeds a pretty sweet little onboarding video.

How about we put this above the fold on the screenshots.firefox.com landing page?

[![screenshots vid](https://img.youtube.com/vi/lv0Mp2ZBKSE/0.jpg)](https://youtu.be/lv0Mp2ZBKSE)

[2018-02-21 00:12] chenba opened #4132 "Remove One of webextension/icons/icon-{16,32}-v2.svg"
There are two identical svg files in our repo.  It wasn't a problem.  But the new packager's [find-dupe script errors out by default](https://hg.mozilla.org/mozilla-central/rev/286c90bcb0ae?revcount=240#l5.280).  Now these dupes are causing build failures.

[2018-02-21 15:17] Softvision-CristinaBadescu opened #4133 "[Annotations] Drawing is wrongly performed on the image if you click anywhere in the "Color Picker" panel"
[Notes]:
- You can easily notice this issue when the "Color Picker" panel overlaps the image and you change the colors.

[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref set to "false" and "extensions.legacy.enabled" pref set to "true".
- Have the latest Firefo

[2018-02-21 15:30] Softvision-CristinaBadescu opened #4134 "[Annotations]The "Color Picker" button wrongly displays the previously custom color if you cancel the edit mode"
[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref set to "false" and "extensions.legacy.enabled" pref set to "true".
- Have the latest Firefox Screenshots v28.0.0 installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html) on a new cl

[2018-02-21 20:18] #4132 closed

[2018-02-21 20:49] #4125 closed

[2018-02-22 09:36] Softvision-CristinaBadescu opened #4136 "[Annotations] The "Highlighter" tool does not remain selected after the crop functionality was used"
[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref set to "false" and "extensions.legacy.enabled" pref set to "true".
- Have the latest Firefox Screenshots v28.0.0 installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html) on a new cl

[2018-02-22 10:29] marco-c opened #4137 "Saving entire page doesn't work on Splinter"
E.g. open https://bugzilla.mozilla.org/page.cgi?id=splinter.html&bug=1405567&attachment=8928388, both save entire page and save visible area have the same result.

[2018-02-22 12:48] Softvision-CristinaBadescu opened #4138 "[Annotations]A blank space wrongly appears at the bottom of the page in edit mode if it is zoomed (>=170%)"
[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref set to "false" and "extensions.legacy.enabled" pref set to "true".
- Have the latest Firefox Screenshots v28.0.0 installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html) on a new cl

[2018-02-22 12:52] Softvision-CristinaBadescu opened #4139 "[Annotations][Enhancement] The edit header should be sticky so the annotations tools are accessible for scrolled images"
[Notes]:
- Since we have the possibility to perform long screenshots, this enhancement will help users to avoid scrolling up to have access to annotations tools (changing colors, changing drawing tools or crop).

[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref se

[2018-02-22 14:12] SoftVision-CosminMuntean opened #4140 "[Annotations] The part of the image that exceeds 8100px looks broken in Edit mode on Windows"
[Notes]:
- Also, the drawing tools are not working properly on the affected part.
- This issue is not reproducible on Linux and Mac.

[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref set to "false" and "extensions.legacy.enabled" pref set to "true".
- Have the latest Firefox Screenshot

[2018-02-22 15:23] SoftVision-CosminMuntean commented on #4137
This issue is reproducible on all Bugzilla pages that have long content (eg: [Bug 1436218](https://bugzilla.mozilla.org/show_bug.cgi?id=1436218)).
Even if you choose the "Save full page" option, only the visible part of the page is captured.

I think that we  already have a similar issue logged in GitHub, but I can't find it.

[2018-02-22 15:37] marco-c commented on #4137
I can reproduce on TreeHerder too, e.g. at https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&revision=c1c444858b3282080681201db1dc7082e64e7108&group_state=expanded.

[2018-02-22 16:43] johngruen commented on #4139
This is a great idea

[2018-02-22 16:49] johngruen commented on #4137
@ianb is going to dupe this one!

[2018-02-22 17:00] chenba commented on #4140
@niharikak101 if you don't have access to a Windows machine, let me know or assign this to me.

[2018-02-22 21:30] ianb opened #4142 "/#tour isn't working in Nightly"
At least for me, visiting https://screenshots.firefox.com/#tour I'm getting:

[code]

[2018-02-23 01:18] #3934 closed

[2018-02-23 01:18] #4117 closed

[2018-02-23 01:18] #4134 closed

[2018-02-23 08:52] Softvision-CristinaBadescu opened #4146 "[Annotations]The "Highlighter" tool does not work properly after you cancel the edit mode"
[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have the "xpinstall.signatures.required" pref set to "false" and "extensions.legacy.enabled" pref set to "true".
- Have the latest Firefox Screenshots v28.0.0 installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html) on a new cl

[2018-02-23 10:46] SoftVision-CosminMuntean commented on #4113
@6a68 @ianb @johngruen
Since we will release another version of Screenshots in Nightly, can we also fix this issue? The issue is reproducible on all websites and is very easy to be encountered.
Nightly goes to Beta 60 in March 12, code freeze starts on March 1st and if this will not be fixed by then, then we will have to do an uplift in Beta.

[2018-02-23 10:49] SoftVision-CosminMuntean opened #4147 "An extra border is wrongly displayed on the right side of the shot if the "Save visible" option is used"
[Notes]:
- Is also reproducible on Mac if the "Show scrollbars" option is set to "Always".
- If the browser is resized so that the horizontal scrollbar is displayed, the issue is only reproducible if the page is scrolled to the right maximum limit.
- The issue is only reproducible for "Save visible" option.

[Affected versions]:
- Nightly 58.0.2 and up
- Screenshots v25.0.0
- Screenshots v29.0.0

[2018-02-23 15:13] chenba commented on #4113
I'll take a look at it today.

[2018-02-23 15:59] Softvision-CristinaBadescu commented on #4134
This issue is no longer reproducible using Firefox Screenshots v28.0.0 dev installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), on latest Nightly build 60.0a1 (2018-02-23), on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

[2018-02-23 16:27] johngruen opened #4148 "Screenshots does not work on Simply Recipes"
Try shooting this: https://www.simplyrecipes.com/recipes/minestrone_soup/

The iframe does not load.

[2018-02-23 23:16] #4113 closed

[2018-02-26 12:35] niharikak101 commented on #4140
@chenba that would be pretty helpful!

[2018-02-26 15:18] Softvision-CristinaBadescu opened #4150 "Blank thumbnail is wrongly displayed in "My Shots" page for cut off images that were saved through "Save full page" option, on Windows"
[Notes]:
- This issue is not reproducible on Firefox release 58.0.2, using Firefox Screenshots v25.0.0.

[Affected versions]:
- Nightly 60.0a1
- Screenshots v28.0.0dev, v29.0.0

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Open Firefox browser and navigate to the "https://en.wikipedia.org/wiki/Sun" page.
2. Click the "Page Actions" menu and select the "Take a Screenshot" option.
3

[2018-02-26 16:46] johngruen commented on #4147
This is an FF bug that we should kick down the road a little bit

[2018-02-26 16:52] #3985 closed

[2018-02-26 16:52] #4146 closed

[2018-02-26 19:05] #4027 closed

[2018-02-27 00:03] chenba commented on #4140
I am unable to reproduce this bug on Windows 10.

[2018-02-27 09:09] Softvision-CristinaBadescu commented on #4146
This issue is no longer reproducible using Firefox Screenshots v31.0.0dev installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html), on latest Nightly build 60.0a1 (2018-02-26), on Windows 10 x64, Mac 10.13.3 and Arch Linux 4.12.

[2018-02-27 09:14] fangshih opened #4155 "[Annotations] Toolbar icon measurement adjustment"
The toolbar icon seems a little off alignment.  I think is because of the pen icon a little slimmer than the rest of icon. Also, the color button is a bit large, it creates an uneven space.
I've adjusted the pen icon, and we may need to change the color circle to a smaller size 19x19 ( not included the stroke )  it should be able to slove the problem. Thanks!
**Pen icon**
https://github.com/mozill

[2018-02-27 09:19] fangshih opened #4156 "[Annotations] Need to change the refresh icon to Photon version"
Need to update the refresh icon. The arrow should be going right instead of left.
**Icon asset**
https://github.com/mozilla/testpilot-assets/blob/master/Firefox_Screenshots/Annotation/Assets/annotation-refresh.svg
![screen shot 2018-02-27 at 5 17 11 pm](https://user-images.githubusercontent.com/4862573/36720139-1555ce20-1be2-11e8-9464-8ed887cd56a6.png)

Thanks!

[2018-02-27 09:42] SoftVision-CosminMuntean commented on #4140
I just tested this issue on Windows 10 x64 and Windows 7 x64 with latest Screenshots 31.0.0 dev version installed from [here](https://screenshots.dev.mozaws.net/homepage/install-test-local.html) and I have managed to reproduce the issue.

@chenba  is easier to reproduce the issue using the following STR:
1. Navigate to https://en.wikipedia.org/wiki/Sun website.
2. Save the full page.
3. Click the

[2018-02-27 10:12] SoftVision-CosminMuntean commented on #4113
I have retested this issue on the [Nightly try build](https://treeherder.mozilla.org/#/jobs?repo=try&revision=392fc70eefcdd1b94d7f802dc21d033e1bdc48f6&selectedJob=164057945) with Screenshots 30.0.0 version and also with Screenshots 31.0.0 dev version and the issue is no longer reproducible. Tested on Windows 7 x64, Mac 10.12 and Arch Linux.

@chenba thanks for fixing it!

[2018-02-27 12:44] Softvision-CristinaBadescu opened #4157 "The paginate arrows from "My Shots" page are wrongly displayed in active and hover states"
[Notes]:
- Based on the UX requirements for the "My Shots" page pagination from issue #3391, the arrows should be centered on a gray background.

[Affected versions]:
- Nightly 60.0a1
- Screenshots v25.0.0, v28.0.0dev, v29.0, v31.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Windows

[Prerequisites]:
- Have at least 25 screenshots saved.

[Steps to reproduce]:
1. Open Firefox browser wi

[2018-02-27 15:05] chenba commented on #4140
Here's a video of me doing just that: https://youtu.be/p4qRAHczvPM

[2018-02-27 15:36] SoftVision-CosminMuntean commented on #4140
I did more investigation and I have re-tested this issue on 7 different machines. I have managed to reproduce the issue on 4 out of 7 machines. The only difference between them is the processor.
So, it seems that the issue is reproducible only on AMD processors, but it's not reproducible on Intel processors.

@chenba do you also have a Intel processor?

[2018-02-27 15:51] chenba commented on #4140
@SoftVision-CosminMuntean Yeah, only Intel processors here.

[2018-02-27 17:18] SoftVision-CosminMuntean opened #4158 "None of the page scroll hotkeys work when the Screenshots overlay it's displayed"
[Notes]:
- The page can be scrolled using mouse click or scrollbar.
- The hot keys are working if a selection is performed.
- Here are the hotkeys for scolling the page: "Home", "End", "Page Up", "Page Down", and arrows keys.

[Affected versions]:
- Firefox 58.0.2 and up
- Screenshots v25.0.0
- Screenshots v29.0.0

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Steps to reproduce]:
1.

[2018-02-27 17:46] 6a68 commented on #4140
@SoftVision-CosminMuntean AMD-specific bug sounds like a Nightly platform regression, I think. Would you mind filing a bug on Bugzilla?

[2018-02-27 19:44] ianb commented on #4158
For now we've decided not to fix this. If someone finds this problematic, please reopen.

[2018-02-27 19:44] #4158 closed

[2018-02-27 19:46] ianb commented on #4156
The button means "revert" not "refresh", so we believe it's correct. Though maybe if we have an "undo" icon that would be better, as clearly it's confusing as it is.

[2018-02-27 19:47] ianb commented on #4156
We'll close it for now, but can reopen this if someone feels it is too confusing.

[2018-02-27 19:47] #4156 closed

[2018-02-27 23:01] wresuolc commented on #4019
This landed at https://github.com/mozilla/testpilot/blob/master/docs/experiments/developing_an_experiment.md#labels

@6a68 - do you think we need docs in Screenshots that points to that or is being a part of the program enough?  I also see that someone added descriptions to all our labels which is probably even better than my docs anyway.  I'm going to close this, re-open if you wanted more.

[2018-02-27 23:01] #4019 closed

[2018-02-28 00:15] chenba commented on #3980
The short answer to those questions is that we serve one CSP header from node for all responses regardless of content type, route, host, etc.

For most routes that doesn't make sense. #4159 will stop sending CSP on image, css, script, text, and (most) json responses.

[2018-02-28 10:13] Softvision-CristinaBadescu opened #4160 "The automatically selection is not working in certain cases for long images"
[Affected versions]:
- Nightly 60.0a1
- Screenshots v25.0.0, v28.0.0dev, v29.0.0

[Affected Platforms]:
- All Windows
- All Mac
- All Windows

[Steps to reproduce]:
1. Open Firefox browser and navigate to https://brightside.me/creativity-photography/19-photos-where-laziness-genius-and-insanity-united-as-one-458310/.
2. Click the "Page actions" menu and select the "Take a Screenshot" option.
3. Scr

[2018-02-28 16:04] SoftVision-CosminMuntean opened #4161 "The automatic selection gets the previously focused element's size, if the page is scrolled without moving the mouse"
[Affected versions]:
- Firefox 58.0.2 and up
- Screenshots v25.0.0
- Screenshots v29.0.0

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Steps to reproduce]:
1. Open Firefox browser an navigate to any website (eg: cnn.com).
2. Click the "Take a Screenshots" button from "Page Actions" menu.
3. Hover any element from the page.
4. Without moving the mouse scroll the page a few pixels dow

[2018-02-28 18:53] chenba commented on #2209
This was done as part of #4077

[2018-02-28 18:55] #2209 closed

[2018-03-01 10:11] Softvision-CristinaBadescu opened #4162 "[Annotations] "Save" and "Cancel" buttons don't have tooltips"
[Affected versions]:
- Nightly 60.0a1
- Screenshots 31.0.0 stage

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 31.0.0 stage version installed from [here](https://screenshots.stage.mozaws.net/homepage/install-te

[2018-03-01 10:20] SoftVision-CosminMuntean opened #4163 "[Annotations] A blank space is wrongly displayed in the right and the bottom part of the page if the browser is resized"
[Notes]:
- The issue is easier to be encountered if you have a image with large width and the browser is resized.

[Affected versions]:
- Nightly 60.0a1
- Screenshots 31.0.0 stage

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have

[2018-03-01 11:49] SoftVision-CosminMuntean opened #4164 "[Annotations] Colors from the "Color Picker" panel cannot be selected with keyboard navigation"
[Affected versions]:
- Nightly 60.0a1
- Screenshots 31.0.0 stage

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots stage version installed on a new clean profile.
- Have a saved shot link.

[Steps to reproduce]:
1.

[2018-03-01 12:52] Softvision-CristinaBadescu opened #4165 "[Annotations] "Color Picker" button is not highlighted when it's hovered"
[Affected versions]:
- Nightly 60.0a1
- Screenshots 31.0.0 stage

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 31.0.0 stage version installed from [here](https://screenshots.stage.mozaws.net/homepage/install-te

[2018-03-01 14:58] Softvision-CristinaBadescu opened #4167 "[Enhancement][Annotations] The highlighter's yellow color should also be intensified when multiple lines overlap"
[Affected versions]:
- Nightly 60.0a1
- Screenshots 31.0.0 stage

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 31.0.0 stage version installed from [here](https://screenshots.stage.mozaws.net/homepage/install-te

[2018-03-01 15:07] chenba commented on #4025
The roadblock to this is that the "system clipboard" on Linux requires X, so we can't run the test on CircleCI.  Running in headless mode (as we do currently) or on Xvfb doesn't work.

[2018-03-01 15:09] chenba commented on #2705
This was fixed in #3977.

[2018-03-01 15:09] #2705 closed

[2018-03-01 15:15] Softvision-CristinaBadescu opened #4168 "[Annotations] In crop mode, the page cannot be scrolled if the selection is dragged at the bottom of the page"
[Affected versions]:
- Nightly 60.0a1
- Screenshots 31.0.0 stage

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "xpinstall.signatures.required" boolean pref is set to "false".
- The "extensions.legacy.enabled" boolean pref is set tot "true".
- Have the Screenshots 31.0.0 stage version installed from here, on a new clean profile.
- Have a long saved shot link.

[

[2018-03-01 16:51] wresuolc commented on #4164
After choosing a color you'd still need to apply it to the image with the mouse, so we're considering this a wontfix.

[2018-03-01 16:51] #4164 closed